/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { IndiciaCore } from "../core.js";
import { appendForm } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { IndiciaError } from "../models/errors/indicia-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";
import * as types$ from "../types/primitives.js";

/**
 * Reverse Face Search
 *
 * @remarks
 * Search for faces across the internet using facial recognition. Streams progress updates via Server-Sent Events.
 *
 *       Response type:
 *       ```ts
 *       interface FacialSearchResult {
 *         time: number;
 *         results: {
 *           id: string;
 *           hash: string;
 *           group: number;
 *           quality: number;
 *           imageUrl: string;
 *           crawledAt: number;
 *           sourceUrl: string;
 *           thumbnailUrl: string;
 *         }[];
 *         searchHash: string;
 *         numberOfResults: number;
 *       }
 *     ```
 */
export function postV1SearchIntelligenceFacial(
  client: IndiciaCore,
  request: operations.PostV1SearchIntelligenceFacialRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    string,
    | errors.PostV1SearchIntelligenceFacialBadRequestError
    | errors.PostV1SearchIntelligenceFacialPaymentRequiredError
    | errors.PostV1SearchIntelligenceFacialInternalServerError
    | IndiciaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: IndiciaCore,
  request: operations.PostV1SearchIntelligenceFacialRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      string,
      | errors.PostV1SearchIntelligenceFacialBadRequestError
      | errors.PostV1SearchIntelligenceFacialPaymentRequiredError
      | errors.PostV1SearchIntelligenceFacialInternalServerError
      | IndiciaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.PostV1SearchIntelligenceFacialRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = new FormData();

  if (payload.media !== undefined) {
    appendForm(body, "media", payload.media);
  }

  const path = pathToFunc("/v1/search/intelligence/facial")();

  const headers = new Headers(compactMap({
    Accept: "text/event-stream",
  }));

  const secConfig = await extractSecurity(client._options.apiKeyAuth);
  const securityInput = secConfig == null ? {} : { apiKeyAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "postV1SearchIntelligenceFacial",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKeyAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    string,
    | errors.PostV1SearchIntelligenceFacialBadRequestError
    | errors.PostV1SearchIntelligenceFacialPaymentRequiredError
    | errors.PostV1SearchIntelligenceFacialInternalServerError
    | IndiciaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.text(200, types$.string(), { ctype: "text/event-stream" }),
    M.jsonErr(
      400,
      errors.PostV1SearchIntelligenceFacialBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      402,
      errors.PostV1SearchIntelligenceFacialPaymentRequiredError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.PostV1SearchIntelligenceFacialInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
