/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { IndiciaCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { IndiciaError } from "../models/errors/indicia-error.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";
import * as types$ from "../types/primitives.js";

/**
 * Port Scan
 *
 * @remarks
 * Perform a port scan on a given IP address or domain.
 *
 *   Response type:
 *   ```ts
 *   interface NmapScanResult {
 *     $: {
 *       scanner: string;
 *       args: string;
 *       start: string;
 *       startstr: string;
 *       version: string;
 *       xmloutputversion: string;
 *     };
 *     scaninfo: Array<{
 *       $: {
 *         type: string;
 *         protocol: string;
 *         numservices: string;
 *         services: string;
 *       };
 *     }>;
 *     verbose: Array<{ $: { level: string } }>;
 *     debugging: Array<{ $: { level: string } }>;
 *     taskprogress?: Array<{
 *       $: {
 *         task: string;
 *         time: string;
 *         percent: string;
 *         remaining: string;
 *         etc: string;
 *       };
 *     }>;
 *     host?: Array<{
 *       $: {
 *         starttime: string;
 *         endtime: string;
 *       };
 *       status: Array<{
 *         $: {
 *           state: string;
 *           reason: string;
 *           reason_ttl: string;
 *         };
 *       }>;
 *       address: Array<{
 *         $: {
 *           addr: string;
 *           addrtype: string;
 *         };
 *       }>;
 *       hostnames?: Array<{
 *         hostname: Array<{
 *           $: {
 *             name: string;
 *             type: string;
 *           };
 *         }>;
 *       }>;
 *       ports?: Array<{
 *         extraports?: Array<{
 *           $: {
 *             state: string;
 *             count: string;
 *           };
 *           extrareasons: Array<{
 *             $: {
 *               reason: string;
 *               count: string;
 *               proto: string;
 *               ports: string;
 *             };
 *           }>;
 *         }>;
 *         port?: Array<{
 *           $: {
 *             protocol: string;
 *             portid: string;
 *           };
 *           state: Array<{
 *             $: {
 *               state: string;
 *               reason: string;
 *               reason_ttl: string;
 *             };
 *           }>;
 *           service?: Array<{
 *             $: {
 *               name: string;
 *               product?: string;
 *               version?: string;
 *               extrainfo?: string;
 *               ostype?: string;
 *               method: string;
 *               conf: string;
 *             };
 *             cpe?: string[];
 *           }>;
 *         }>;
 *       }>;
 *       times?: Array<{
 *         $: {
 *           srtt: string;
 *           rttvar: string;
 *           to: string;
 *         };
 *       }>;
 *     }>;
 *     runstats: Array<{
 *       finished: Array<{
 *         $: {
 *           time: string;
 *           timestr: string;
 *           summary: string;
 *           elapsed: string;
 *           exit: string;
 *         };
 *       }>;
 *       hosts: Array<{
 *         $: {
 *           up: string;
 *           down: string;
 *           total: string;
 *         };
 *       }>;
 *     }>;
 *   }
 * ```
 */
export function postV1SearchInfrastructurePortscan(
  client: IndiciaCore,
  request: operations.PostV1SearchInfrastructurePortscanRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    string,
    | errors.PostV1SearchInfrastructurePortscanBadRequestError
    | errors.PostV1SearchInfrastructurePortscanPaymentRequiredError
    | errors.PostV1SearchInfrastructurePortscanInternalServerError
    | IndiciaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: IndiciaCore,
  request: operations.PostV1SearchInfrastructurePortscanRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      string,
      | errors.PostV1SearchInfrastructurePortscanBadRequestError
      | errors.PostV1SearchInfrastructurePortscanPaymentRequiredError
      | errors.PostV1SearchInfrastructurePortscanInternalServerError
      | IndiciaError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations.PostV1SearchInfrastructurePortscanRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v1/search/infrastructure/portscan")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "text/event-stream",
  }));

  const secConfig = await extractSecurity(client._options.apiKeyAuth);
  const securityInput = secConfig == null ? {} : { apiKeyAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "postV1SearchInfrastructurePortscan",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKeyAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    string,
    | errors.PostV1SearchInfrastructurePortscanBadRequestError
    | errors.PostV1SearchInfrastructurePortscanPaymentRequiredError
    | errors.PostV1SearchInfrastructurePortscanInternalServerError
    | IndiciaError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.text(200, types$.string(), { ctype: "text/event-stream" }),
    M.jsonErr(
      400,
      errors.PostV1SearchInfrastructurePortscanBadRequestError$inboundSchema,
    ),
    M.jsonErr(
      402,
      errors
        .PostV1SearchInfrastructurePortscanPaymentRequiredError$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors
        .PostV1SearchInfrastructurePortscanInternalServerError$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
