{"openapi":"3.1.0","info":{"title":"Indicia API","description":"Development documentation","version":"1.0.0"},"servers":[{"url":"https://api.indicia.app"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API Key needed to access the endpoints"}}},"paths":{"/v1/info":{"get":{"operationId":"getV1Info","description":"Get information about the user, also healthcheck endpoint.","responses":{"200":{"description":"Successful response with user information.","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"object","properties":{"createdAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"enabled":{"type":"boolean"},"expiresAt":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"id":{"type":"string"},"lastRefillAt":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"lastRequest":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"metadata":{"anyOf":[{"type":"object","additionalProperties":{}},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"permissions":{"anyOf":[{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}]},"rateLimitEnabled":{"type":"boolean"},"rateLimitMax":{"anyOf":[{"type":"number"},{"type":"null"}]},"rateLimitTimeWindow":{"anyOf":[{"type":"number"},{"type":"null"}]},"refillAmount":{"anyOf":[{"type":"number"},{"type":"null"}]},"refillInterval":{"anyOf":[{"type":"number"},{"type":"null"}]},"remaining":{"anyOf":[{"type":"number"},{"type":"null"}]},"requestCount":{"type":"number"},"start":{"anyOf":[{"type":"string"},{"type":"null"}]},"updatedAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"userId":{"type":"string"}},"required":["createdAt","enabled","expiresAt","id","lastRefillAt","lastRequest","metadata","name","permissions","prefix","rateLimitEnabled","rateLimitMax","rateLimitTimeWindow","refillAmount","refillInterval","remaining","requestCount","start","updatedAt","userId"]},"success":{"type":"boolean"},"user":{"type":"object","properties":{"acceptOrgInvites":{"type":"boolean"},"acceptedLegalHash":{"anyOf":[{"type":"string"},{"type":"null"}]},"banExpires":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"banReason":{"anyOf":[{"type":"string"},{"type":"null"}]},"banned":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"boughtCreditsAfterReferral":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"createdAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"displayUsername":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"emailVerified":{"type":"boolean"},"flagged":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"id":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"referralLink":{"anyOf":[{"type":"string"},{"type":"null"}]},"referred":{"anyOf":[{"type":"string"},{"type":"null"}]},"restrictedFeatures":{"anyOf":[{"type":"array","items":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","vehicle","web-dbs","whois"]}},{"type":"null"}]},"role":{"anyOf":[{"type":"string"},{"type":"null"}]},"stripeConnectedId":{"anyOf":[{"type":"string"},{"type":"null"}]},"stripeId":{"anyOf":[{"type":"string"},{"type":"null"}]},"taxState":{"anyOf":[{"type":"string"},{"type":"null"}]},"tokens":{"anyOf":[{"type":"integer","maximum":2147483647,"minimum":-2147483648},{"type":"null"}]},"twoFactorEnabled":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"updatedAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"username":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["acceptOrgInvites","acceptedLegalHash","banExpires","banReason","banned","boughtCreditsAfterReferral","createdAt","displayUsername","email","emailVerified","flagged","id","image","name","referralLink","referred","restrictedFeatures","role","stripeConnectedId","stripeId","taxState","tokens","twoFactorEnabled","updatedAt","username"]}},"required":["key","success","user"]}}}}}}},"/v1/pricing":{"get":{"operationId":"getV1Pricing","description":"Gives credit pricing for all Indicia services","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"current":{"type":"number"},"prices":{"type":"object","additionalProperties":{"type":"number"}},"success":{"type":"boolean"}},"required":["current","prices","success"]}}}}}}},"/v1/activity":{"get":{"operationId":"getV1Activity","description":"Get a list of recent activities.","responses":{"200":{"description":"Successful response with a list of activities.","content":{"application/json":{"schema":{"type":"object","properties":{"activities":{"type":"array","items":{"type":"object","properties":{"agent":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"apiKey":{"anyOf":[{"type":"string"},{"type":"null"}]},"case":{"anyOf":[{"type":"string"},{"type":"null"}]},"detail":{"type":"string"},"id":{"type":"string","description":"a RFC-4122-compliant UUID","pattern":"^[\\da-f]{8}(?:-[\\da-f]{4}){3}-[\\da-f]{12}$"},"query":{"type":"string"},"result":{"anyOf":[{"type":"number"},{"type":"object"},{"type":"string"},{"type":"boolean"},{"type":"null"}]},"time":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"type":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","other","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","usernames","vehicle","web-dbs","whois"]},"user":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["agent","apiKey","case","detail","id","query","result","time","type","user"]}},"success":{"type":"boolean"}},"required":["activities","success"]}}}}},"parameters":[{"in":"query","name":"limit","schema":{"type":"string"}},{"in":"query","name":"offset","schema":{"type":"string"}}]}},"/v1/activity/{id}":{"get":{"operationId":"getV1ActivityById","description":"Get a specific activity by its ID.","responses":{"200":{"description":"Successful response with the activity details.","content":{"application/json":{"schema":{"type":"object","properties":{"activity":{"type":"object","properties":{"agent":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"apiKey":{"anyOf":[{"type":"string"},{"type":"null"}]},"case":{"anyOf":[{"type":"string"},{"type":"null"}]},"detail":{"type":"string"},"id":{"type":"string","description":"a RFC-4122-compliant UUID","pattern":"^[\\da-f]{8}(?:-[\\da-f]{4}){3}-[\\da-f]{12}$"},"query":{"type":"string"},"result":{"anyOf":[{"type":"number"},{"type":"object"},{"type":"string"},{"type":"boolean"},{"type":"null"}]},"time":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"type":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","other","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","usernames","vehicle","web-dbs","whois"]},"user":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["agent","apiKey","case","detail","id","query","result","time","type","user"]},"success":{"type":"boolean"}},"required":["activity","success"]}}}},"404":{"description":"Activity not found."}},"parameters":[{"in":"path","name":"id","schema":{"anyOf":[{"type":"string","description":"a UUID","format":"uuid","pattern":"[\\da-f]{8}-[\\da-f]{4}-[1-8][\\da-f]{3}-[89ab][\\da-f]{3}-[\\da-f]{12}"},{"const":"00000000-0000-0000-0000-000000000000","description":"a UUID","format":"uuid"},{"const":"ffffffff-ffff-ffff-ffff-ffffffffffff","description":"a UUID","format":"uuid"}],"format":"uuid"},"required":true,"description":"a UUID"}]},"delete":{"operationId":"deleteV1ActivityById","description":"Delete a specific activity by its ID.","responses":{"200":{"description":"Successful deletion of the activity."},"404":{"description":"Activity not found."}},"parameters":[{"in":"path","name":"id","schema":{"anyOf":[{"type":"string","description":"a UUID","format":"uuid","pattern":"[\\da-f]{8}-[\\da-f]{4}-[1-8][\\da-f]{3}-[89ab][\\da-f]{3}-[\\da-f]{12}"},{"const":"00000000-0000-0000-0000-000000000000","description":"a UUID","format":"uuid"},{"const":"ffffffff-ffff-ffff-ffff-ffffffffffff","description":"a UUID","format":"uuid"}],"format":"uuid"},"required":true,"description":"a UUID"}]}},"/v1/search/intelligence/address":{"post":{"operationId":"postV1SearchIntelligenceAddress","summary":"Address Search (US Only)","responses":{"200":{"description":"Search for individuals by address.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt2dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt3dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1dob","alt2dob","alt3dob","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}},"required":["aka","associates","children","currentAddress","emails","maritalStatus","name","pastAddresses","phones"]}}},"required":["local","web"]},"success":{"type":"boolean"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address1":{"type":"string"},"city":{"type":"string"},"state":{"type":"string","maxLength":49},"zip":{"type":"string"},"address2":{"type":"string"}},"required":["address1","city","state","zip"]}}}}}},"/v1/search/intelligence/email":{"post":{"operationId":"postV1SearchIntelligenceEmail","summary":"Email Search (US Only)","description":"Search for individuals by email address.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}},"required":["aka","associates","children","currentAddress","emails","maritalStatus","name","pastAddresses","phones"]}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","pattern":"^[\\w%+.-]+@[\\d.A-Za-z-]+\\.[A-Za-z]{2,}$","format":"email"}},"required":["query"]}}}}}},"/v1/search/intelligence/geolocation":{"post":{"operationId":"postV1SearchIntelligenceGeolocation","summary":"Geolocate Media","description":"Geolocate an image or video using AI-powered analysis. Streams progress updates via Server-Sent Events.\n\n      Response type:\n      ```ts\n      interface GeolocationResponse {\n        location: string | null;\n        coordinates: string | null;\n        certainty: string;\n        reasoning: string;\n        mapsUrl?: `https://www.google.com/maps/search/?api=1&query=${string}`;\n      }\n    ```\n      ","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{},"locationHint":{"type":"string"},"model":{"enum":["default","enhanced"]}},"required":["media"]}}}},"responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-Sent Events stream. Each event data field contains a JSON object string representing progress, success, or error."},"examples":{"analyzing":{"summary":"Progress update","value":"data: {\"status\":\"analyzing\",\"timestamp\":1704153600000}\n\n"},"complete":{"summary":"Successful completion","value":"data: {\"status\":\"complete\",\"success\":true,\"data\":{\"location\":\"Paris, France\",\"coordinates\":\"48.8566,2.3522\",\"certainty\":\"high\",\"reasoning\":\"Identified Eiffel Tower landmark\",\"mapsUrl\":\"https://maps.google.com/?q=48.8566,2.3522\"}}\n\n"},"error":{"summary":"Error response","value":"data: {\"status\":\"error\",\"success\":false,\"error\":\"Server error\"}\n\n"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}}}},"/v1/search/intelligence/gmail":{"post":{"operationId":"postV1SearchIntelligenceGmail","summary":"Gmail Search","description":"Fetches Gmail account information based on the provided email address using the Ghunt library.","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"PROFILE_CONTAINER":{"type":"object","properties":{"maps":{"type":"object","properties":{"photos":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"id":{"type":"string"},"location":{"type":"object","properties":{"address":{"type":"string"},"cost_level":{"type":"number"},"id":{"type":"string"},"name":{"type":"string"},"position":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"}},"required":["latitude","longitude"]},"tags":{"type":"array","items":{"type":"string"}},"types":{"type":"array","items":{"type":"string"}}},"required":["address","cost_level","id","name","position","tags","types"]},"url":{"type":"string"}},"required":["date","id","location","url"]}},"reviews":{"type":"array","items":{"type":"object","additionalProperties":{}}},"stats":{"type":"object","additionalProperties":{"type":"number"}}},"required":["photos","reviews","stats"]},"profile":{"type":"object","properties":{"coverPhotos":{"type":"object","additionalProperties":{"type":"object","properties":{"flathash":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"url":{"type":"string"}},"required":["flathash","isDefault","url"]}},"emails":{"type":"object","additionalProperties":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"extendedData":{"type":"object","properties":{"dynamiteData":{"type":"object","properties":{"customerId":{"anyOf":[{"type":"string"},{"type":"null"}]},"dndState":{"type":"string"},"entityType":{"type":"string"},"presence":{"type":"string"}},"required":["customerId","dndState","entityType","presence"]},"gplusData":{"type":"object","properties":{"contentRestriction":{"type":"string"},"isEntrepriseUser":{"type":"boolean"}},"required":["contentRestriction","isEntrepriseUser"]}},"required":["dynamiteData","gplusData"]},"inAppReachability":{"type":"object","additionalProperties":{"type":"object","properties":{"apps":{"type":"array","items":{"type":"string"}}},"required":["apps"]}},"names":{"type":"object","additionalProperties":{"type":"object","properties":{"fullname":{"type":"string"}},"required":["fullname"]}},"personId":{"type":"string"},"profileInfos":{"type":"object","additionalProperties":{"type":"object","properties":{"userTypes":{"type":"array","items":{"type":"string"}}},"required":["userTypes"]}},"profilePhotos":{"type":"object","additionalProperties":{"type":"object","properties":{"flathash":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"url":{"type":"string"}},"required":["flathash","isDefault","url"]}},"sourceIds":{"type":"object","additionalProperties":{"type":"object","properties":{"lastUpdated":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["lastUpdated"]}}},"required":["coverPhotos","emails","extendedData","inAppReachability","names","personId","profileInfos","profilePhotos","sourceIds"]},"calendar":{"type":"object","properties":{"details":{"type":"object","additionalProperties":{}},"events":{"type":"object","additionalProperties":{}}},"required":["details","events"]},"play_games":{"type":"object","properties":{"avatar_url":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"}},"required":["avatar_url","id","name"]}},"required":["maps","profile"]}}},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","pattern":"^[\\w%+.-]+@[\\d.A-Za-z-]+\\.[A-Za-z]{2,}$","format":"email"}},"required":["email"]}}}}}},"/v1/search/intelligence/person":{"post":{"operationId":"postV1SearchIntelligencePerson","summary":"Person Search (US Only)","description":"Search for individuals by name and state.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt2dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt3dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1dob","alt2dob","alt3dob","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}},"required":["aka","associates","children","currentAddress","emails","maritalStatus","name","pastAddresses","phones"]}}},"required":["local","web"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"}},"required":["name"]}}}}}},"/v1/search/intelligence/phone":{"post":{"operationId":"postV1SearchIntelligencePhone","summary":"Phone Search (Individual data US only)","description":"Search for individuals by phone number.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt2dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt3dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1dob","alt2dob","alt3dob","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"phone":{"type":"object","properties":{"country_code":{"type":"string"},"national_format":{"type":"string"},"phone_number":{"type":"string"},"valid":{"type":"boolean"},"line_type_intelligence":{"type":"object","properties":{"carrier_name":{"type":"string"},"mobile_country_code":{"type":"string"},"mobile_network_code":{"type":"string"},"type":{"type":"string"}},"required":["carrier_name","mobile_country_code","mobile_network_code","type"]},"sim_swap":{"type":"object","properties":{"carrier_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"error_code":{"type":"number"},"last_sim_swap":{"anyOf":[{"type":"number"},{"type":"null"}]},"mobile_country_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"mobile_network_code":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["carrier_name","error_code","last_sim_swap","mobile_country_code","mobile_network_code"]},"sms_pumping_risk":{"type":"object","properties":{"carrier_risk_categories":{"type":"string"},"number_blocked":{"type":"boolean"},"number_blocked_date":{"type":"number"},"number_blocked_last_3_months":{"type":"boolean"}},"required":["carrier_risk_categories","number_blocked","number_blocked_date","number_blocked_last_3_months"]}},"required":["country_code","national_format","phone_number","valid"]},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}},"required":["aka","associates","children","currentAddress","emails","maritalStatus","name","pastAddresses","phones"]}}},"required":["local","phone","web"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","minLength":10,"maxLength":10}},"required":["query"]}}}}}},"/v1/search/intelligence/seon":{"post":{"operationId":"postV1SearchIntelligenceSeon","summary":"SEON Lookup","description":"Evaluate potential threats with SEON’s counter fraud intelligence systems.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"account_aggregates":{"type":"object","properties":{"business":{"type":"object","properties":{"jobs_and_employment":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"money_transfer_remittance":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"science_and_education":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"technology":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"total_registration":{"type":"number"}}},"personal":{"type":"object","properties":{"adult_sites":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"betting_and_gaming":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"dating":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"delivery":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"ecommerce":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"email_service":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"entertainment":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"health_and_fitness":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"messenger":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"real_estate":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"social_media":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"technology":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"total_registration":{"type":"number"},"travel":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}}}},"total_registration":{"type":"number"}}},"applied_rules":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"operation":{"type":"string"},"score":{"type":"number"}}}},"associated_domain_registrations":{"type":"object","properties":{"domains":{"type":"array","items":{"type":"object","properties":{"city_name":{"type":"string"},"company_name":{"type":"string"},"country_code":{"type":"string"},"create_date":{"type":"string"},"domain_name":{"type":"string"},"expiry_date":{"type":"string"},"full_name":{"type":"string"},"mailing_address":{"type":"string"},"phone_number":{"type":"string"},"registrar_name":{"type":"string"},"state_name":{"type":"string"},"update_date":{"type":"string"},"zip_code":{"type":"string"}}}},"exists":{"type":"boolean"},"first_registration_date":{"type":"string"},"number_of_domains":{"type":"number"}}},"bin_bank":{"type":"string"},"bin_card":{"type":"string"},"bin_country":{"type":"string"},"bin_country_code":{"type":"string"},"bin_level":{"type":"string"},"bin_phone":{"type":"string"},"bin_type":{"type":"string"},"bin_valid":{"type":"boolean"},"bin_website":{"type":"string"},"breach_details":{"type":"object","properties":{"breaches":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"domain":{"type":"string"},"name":{"type":"string"}}}},"first_breach":{"type":"string"},"haveibeenpwned_listed":{"type":"boolean"},"last_breach":{"type":"string"},"number_of_breaches":{"type":"number"}}},"card_bin":{"type":"string"},"card_issuer":{"type":"string"},"city":{"type":"string"},"cnam_details":{"type":"object","properties":{"name":{"type":"string"}}},"consumer_privacy_network":{"type":"boolean"},"country":{"type":"string"},"data_center_proxy":{"type":"boolean"},"email":{"type":"string"},"email_details":{"type":"object","properties":{"deliverable":{"type":"boolean"},"earliest_profile_date":{"type":"string"},"email_randomness_score":{"type":"number"},"full_inbox":{"type":"boolean"},"minimum_age_months":{"type":"number"},"valid_format":{"type":"boolean"}}},"email_domain_details":{"type":"object","properties":{"accept_all":{"type":"boolean"},"created":{"type":"string"},"custom":{"type":"boolean"},"disposable":{"type":"boolean"},"dmarc_enforced":{"type":"boolean"},"domain":{"type":"string"},"expires":{"type":"string"},"free":{"type":"boolean"},"registered":{"type":"boolean"},"registered_to":{"type":"string"},"registrar_name":{"type":"string"},"spf_strict":{"type":"boolean"},"suspicious_tld":{"type":"boolean"},"tld":{"type":"string"},"updated":{"type":"string"},"valid_mx":{"type":"boolean"},"website_exists":{"type":"boolean"}}},"enterprise_private_network":{"type":"boolean"},"flags":{"type":"array","items":{"type":"object","additionalProperties":{}}},"harmful":{"type":"boolean"},"history":{"type":"object","additionalProperties":{}},"hlr_details":{"type":"object","properties":{"imsi":{"type":"string"},"original_carrier":{"type":"object","properties":{"carrier":{"type":"string"},"carrier_prefix":{"type":"string"}}},"ported_carrier":{"type":"object","properties":{"carrier":{"type":"string"},"carrier_prefix":{"type":"string"}}},"roaming_carrier":{"type":"object","properties":{"carrier":{"anyOf":[{"type":"string"},{"type":"null"}]},"carrier_country":{"anyOf":[{"type":"string"},{"type":"null"}]},"carrier_prefix":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"serving_msc":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"}}},"id":{"type":"string"},"ip":{"type":"string"},"isp_name":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"open_ports":{"type":"array","items":{"type":"number"}},"phone":{"anyOf":[{"type":"number"},{"type":"string"}]},"provider_carrier_details":{"type":"object","properties":{"carrier":{"type":"string"},"country":{"type":"string"},"disposable":{"type":"boolean"},"phone_is_valid":{"type":"boolean"},"type":{"type":"string"}}},"provider_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"public_proxy":{"type":"boolean"},"residential_proxy":{"type":"boolean"},"risk_scores":{"type":"object","properties":{"global_network_score":{"type":"number"}}},"score":{"type":"number"},"search_engine_spider":{"type":"boolean"},"seon_fraud_history":{"type":"object","properties":{"customer_hits":{"type":"number"},"first_seen":{"type":"number"},"flags":{"type":"array","items":{"type":"string"}},"fraudulent_decline_customer_hits":{"type":"number"},"fraudulent_decline_first_seen":{"type":"number"},"fraudulent_decline_hits":{"type":"number"},"fraudulent_decline_last_seen":{"type":"number"},"hits":{"type":"number"},"last_seen":{"type":"number"}}},"spam_number":{"type":"number"},"spam_urls":{"type":"array","items":{"type":"string"}},"state_prov":{"type":"string"},"timezone_offset":{"type":"string"},"tor":{"type":"boolean"},"type":{"type":"string"},"vpn":{"type":"boolean"},"web_proxy":{"type":"boolean"}}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["bin","email","ip","phone"]}},"required":["query","type"]}}}}}},"/v1/search/intelligence/web-dbs":{"post":{"operationId":"postV1SearchIntelligenceWebDbs","summary":"Web Databases","description":"Deep web intelligence gathering and comprehensive data breach analysis","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"response":{"type":"object","properties":{"cloudsint":{"type":"object","properties":{"data":{"type":"object","properties":{"breaches":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string"},"id":{"type":"string"},"imported_at":{"type":"string"},"password":{"type":"string"},"source":{"type":"string"},"source_date":{"type":"string"},"source_name":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"}},"required":["email","id","imported_at","password","source","source_date","source_name","url","username"]}},"query":{"type":"string"},"total_matches":{"type":"number"},"type":{"enum":["discordid","email","ip","name","password","phone","steamid","url","username"]}},"required":["breaches","query","total_matches","type"]},"duration":{"type":"number"},"success":{"type":"boolean"}},"required":["data","duration","success"]},"ghosint":{"type":"object","properties":{"count":{"type":"number"},"credentials":{"type":"array","items":{"type":"object","properties":{"log_info":{"type":"object","properties":{"hwid":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"system_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["hwid","name","system_name"]},"date":{"type":"string"},"login":{"type":"string"},"password":{"type":"string"},"url":{"type":"string"}},"required":["log_info"]}},"result_id":{"type":"string"}},"required":["count","credentials","result_id"]},"hackcheck":{"type":"object","properties":{"results":{"type":"object","properties":{"databases":{"type":"number"},"first_seen":{"type":"string"},"found":{"type":"number"},"last_seen":{"type":"string"},"results":{"type":"object","properties":{"id":{"type":"string"},"source":{"type":"object","properties":{"date":{"type":"string"},"name":{"type":"string"}}},"email":{"type":"string"},"full_name":{"type":"string"},"hash":{"type":"string"},"ip_address":{"type":"string"},"other_fields":{"type":"object","additionalProperties":{"type":"string"}},"password":{"type":"string"},"phone_number":{"type":"string"},"sensitive_fields":{"type":"object","additionalProperties":{"type":"string"}},"username":{"type":"string"}},"required":["id","source"]}},"required":["databases","first_seen","found","last_seen","results"]}},"required":["results"]},"intelligencex":{"type":"object","properties":{"identityportal":{"type":"array","items":{"type":"object","properties":{"linea":{"type":"string"},"item":{"type":"object","properties":{"accesslevel":{"type":"number"},"added":{"type":"string"},"bucket":{"type":"string"},"date":{"type":"string"},"description":{"type":"string"},"instore":{"type":"boolean"},"keyvalues":{},"media":{"type":"number"},"name":{"type":"string"},"owner":{"type":"string"},"relations":{},"simhash":{"type":"number"},"size":{"type":"number"},"storageid":{"type":"string"},"systemid":{"type":"string"},"tags":{"type":"array","items":{"type":"object","properties":{"class":{"type":"number"},"value":{"type":"string"}},"required":["class","value"]}},"type":{"type":"number"},"xscore":{"type":"number"}}},"lineraw":{"type":"string"},"linesafterraw":{"anyOf":[{"type":"string"},{"type":"null"}]},"linesbeforeraw":{"anyOf":[{"type":"string"},{"type":"null"}]},"positionabsolute":{"type":"number"},"positionline":{"type":"number"},"positionsize":{"type":"number"}},"required":["linea"]}}}},"leakcheck":{"type":"object","properties":{"error":{"anyOf":[{"type":"string"},{"type":"null"}]},"found":{"type":"number"},"quota":{"anyOf":[{"type":"number"},{"type":"null"}]},"result":{"type":"array","items":{"type":"object","properties":{"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"anyOf":[{"type":"string"},{"type":"null"}]},"fields":{"type":"array","items":{"type":"string"}},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"password":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone":{"anyOf":[{"type":"string"},{"type":"null"}]},"source":{"type":"object","properties":{"breach_date":{"type":"string"},"compilation":{"enum":[0,1]},"name":{"type":"string"},"passwordless":{"enum":[0,1]},"unverified":{"enum":[0,1]}},"required":["breach_date","compilation","name","passwordless","unverified"]},"state":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","country","dob","email","fields","first_name","last_name","name","password","phone","source","state","zip"]}},"success":{"type":"boolean"}},"required":["error","found","quota","result","success"]},"leakosint":{"type":"object","properties":{"List":{"type":"object","additionalProperties":{"type":"object","properties":{"Data":{"type":"array","items":{"type":"object","properties":{"Email":{"type":"string"},"NickName":{"type":"string"},"Password":{"type":"string"},"Url":{"type":"string"}},"additionalProperties":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"InfoLeak":{"type":"string"},"NumOfResults":{"type":"number"}},"required":["Data","InfoLeak","NumOfResults"]}},"NumOfDatabase":{"type":"number"},"NumOfResults":{"type":"number"},"price":{"type":"number"},"search time":{"type":"number"}},"required":["List","NumOfDatabase","NumOfResults","price","search time"]},"osintindustries":{"type":"array","items":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{}},"front_schemas":{"type":"array","items":{"type":"object","properties":{"body":{"type":"object","properties":{"Bio":{"type":"string"}},"additionalProperties":{"anyOf":[{"type":"string"},{"type":"null"}]}},"image":{"type":"string"},"module":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"timeline":{"type":"object","properties":{"group_items":{"type":"object","additionalProperties":{}},"group_years":{"type":"object","additionalProperties":{}},"groups":{"type":"object","additionalProperties":{}},"last_seen":{"type":"boolean"},"last_seen_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"registered":{"type":"boolean"},"registered_date":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["group_items","group_years","groups","last_seen","last_seen_date","registered","registered_date"]}},"required":["body","image","module","tags","timeline"]}},"module":{"type":"string"},"reliable_source":{"type":"boolean"},"spec_format":{"type":"array","items":{"type":"object","properties":{"bio":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"id":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"location":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"name":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"picture_url":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"platform_variables":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"proper_key":{"type":"string"},"type":{"enum":["bool","list","number","str"]},"value":{"anyOf":[{"type":"number"},{"type":"string"},{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]}},{"type":"boolean"}]}},"required":["key","proper_key","type","value"]}},"private":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"bool"},"value":{"type":"boolean"}},"required":["proper_key","type","value"]},"profile_url":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"str"},"value":{"type":"string"}},"required":["proper_key","type","value"]},"registered":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"bool"},"value":{"type":"boolean"}},"required":["proper_key","type","value"]},"verified":{"type":"object","properties":{"proper_key":{"type":"string"},"type":{"const":"bool"},"value":{"type":"boolean"}},"required":["proper_key","type","value"]}}}},"status":{"enum":["found","not_found"]},"category":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]}},"required":["data","front_schemas","module","reliable_source","spec_format","status"]}},"snusbase":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"birthdate":{"type":"string"},"city":{"type":"string"},"company":{"type":"string"},"country":{"type":"string"},"created":{"type":"string"},"date":{"type":"string"},"domain":{"type":"string"},"email":{"type":"string"},"followers":{"type":"string"},"gender":{"type":"string"},"hash":{"type":"string"},"host":{"type":"string"},"id":{"type":"string"},"job":{"type":"string"},"language":{"type":"string"},"lastip":{"type":"string"},"name":{"type":"string"},"other":{"type":"string"},"password":{"type":"string"},"phone":{"type":"string"},"regip":{"type":"string"},"salt":{"type":"string"},"state":{"type":"string"},"uid":{"type":"string"},"unparsed":{"type":"string"},"updated":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"},"zip":{"type":"string"}}}}}}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["response","success"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"services":{"type":"array","items":{"enum":["cloudsint","intelligencex.identityportal","leakcheck","snusbase"]}},"cloudsintType":{"enum":["discordid","email","ip","name","password","phone","steamid","url","username"]},"intelxType":{"enum":["domain","email","ip","phone","url"]},"leakCheckType":{"enum":["auto","domain","email","hash","keyword","origin","password","phash","phone","username"]},"snusbaseType":{"enum":["_domain","email","hash","lastip","name","password","phone","username","wildcard"]}},"required":["query","services"]}}}}}},"/v1/search/intelligence/facial":{"post":{"operationId":"postV1SearchIntelligenceFacial","summary":"Reverse Face Search","description":"Search for faces across the internet using facial recognition. Streams progress updates via Server-Sent Events.\n\n      Response type:\n      ```ts\n      interface FacialSearchResult {\n        time: number;\n        results: {\n          id: string;\n          hash: string;\n          group: number;\n          quality: number;\n          imageUrl: string;\n          crawledAt: number;\n          sourceUrl: string;\n          thumbnailUrl: string;\n        }[];\n        searchHash: string;\n        numberOfResults: number;\n      }\n    ```\n      ","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{}},"required":["media"]}}}},"responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-Sent Events stream. Each event data field contains a JSON object string representing progress, success, or error."},"examples":{"faces":{"summary":"Successful completion","value":"event: faces, data: 2"},"error":{"summary":"Error response","value":"data: {\"status\":\"error\",\"success\":false,\"error\":\"Server error\"}\n\n"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}}}},"/v1/search/intelligence/hudsonrock":{"post":{"operationId":"postV1SearchIntelligenceHudsonrock","summary":"Hudson Rock Search","description":"Search for compromised data on Hudson Rock","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"anyOf":[{"type":"object","properties":{"applications":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"}},"required":["keyword"]}},"data":{"type":"object","properties":{"employees_urls":{"type":"array","items":{"type":"object","properties":{"occurrence":{"type":"number"},"type":{"type":"string"},"url":{"type":"string"}},"required":["occurrence","type","url"]}}},"required":["employees_urls"]},"employees":{"type":"number"},"is_shopify":{"type":"boolean"},"last_employee_compromised":{"type":"string"},"last_user_compromised":{"type":"string"},"logo":{"type":"string"},"stats":{"type":"object","properties":{"clients_count":{"type":"array","items":{"type":"number"}},"clients_urls":{"type":"array","items":{"type":"string"}},"employees_count":{"type":"array","items":{"type":"number"}},"employees_urls":{"type":"array","items":{"type":"string"}},"totalEmployees":{"type":"number"},"totalUsers":{"type":"number"}},"required":["clients_count","clients_urls","employees_count","employees_urls","totalEmployees","totalUsers"]},"thirdPartyDomains":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"occurrence":{"type":"number"}},"required":["domain","occurrence"]}},"third_parties":{"type":"number"},"total":{"type":"number"},"totalStealers":{"type":"number"},"totalUrls":{"type":"number"},"type":{"enum":["domain","email","ip","password","username"]},"users":{"type":"number"},"antiviruses":{"type":"object","properties":{"found":{"type":"number"},"free":{"type":"string"},"list":{"type":"array","items":{"type":"object","properties":{"count":{"type":"number"},"name":{"type":"string"}},"required":["count","name"]}},"not_found":{"type":"string"},"total":{"type":"number"}},"required":["found","free","list","not_found","total"]},"employeePasswords":{"type":"object","properties":{"has_stats":{"type":"boolean"},"medium":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"strong":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"too_weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"totalPass":{"type":"number"},"weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]}},"required":["has_stats","medium","strong","too_weak","totalPass","weak"]},"stealerFamilies":{"type":"object","properties":{"Acreed":{"type":"number"},"Atomic":{"type":"number"},"Azorult":{"type":"number"},"CRYPTBOT":{"type":"number"},"DarkCrystal":{"type":"number"},"Ficker":{"type":"number"},"Generic Stealer":{"type":"number"},"Lumma":{"type":"number"},"Mystic":{"type":"number"},"Predator":{"type":"number"},"Raccoon":{"type":"number"},"RedLine":{"type":"number"},"StealC":{"type":"number"},"Taurus":{"type":"number"},"UNKNOWN":{"type":"number"},"Vidar":{"type":"number"},"last_counted":{"type":"string"},"total":{"type":"number"}},"required":["Acreed","Atomic","Azorult","CRYPTBOT","DarkCrystal","Ficker","Generic Stealer","Lumma","Mystic","Predator","Raccoon","RedLine","StealC","Taurus","UNKNOWN","Vidar","last_counted","total"]},"userPasswords":{"type":"object","properties":{"has_stats":{"type":"boolean"},"medium":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"strong":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"too_weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"totalPass":{"type":"number"},"weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]}},"required":["has_stats","medium","strong","too_weak","totalPass","weak"]}},"required":["applications","data","employees","is_shopify","last_employee_compromised","last_user_compromised","logo","stats","thirdPartyDomains","third_parties","total","totalStealers","totalUrls","type","users"]},{"type":"object","properties":{"message":{"type":"string"},"stealers":{"type":"array","items":{"type":"object","properties":{"computer_name":{"type":"string"},"date_compromised":{"type":"string"},"ip":{"type":"string"},"malware_path":{"type":"string"},"operating_system":{"type":"string"},"top_logins":{"type":"array","items":{"type":"string"}},"top_passwords":{"type":"array","items":{"type":"string"}},"total_corporate_services":{"type":"number"},"total_user_services":{"type":"number"},"stealer_family":{"type":"string"}},"required":["computer_name","date_compromised","ip","malware_path","operating_system","top_logins","top_passwords","total_corporate_services","total_user_services"]}},"type":{"enum":["domain","email","ip","password","username"]}},"required":["message","stealers","type"]}]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["domain","email","ip","password","username"]}},"required":["query","type"]}}}}}},"/v1/search/socials/discord":{"post":{"operationId":"postV1SearchSocialsDiscord","summary":"Discord Search","description":"Search Discord users for profile and server info","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"bio":{"anyOf":[{"type":"string"},{"type":"null"}]},"clan":{"anyOf":[{"type":"object","properties":{"badge":{"anyOf":[{"type":"string"},{"type":"null"}]},"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"boosts":{"anyOf":[{"type":"number"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"features":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"type":"string"},"invite":{"anyOf":[{"type":"string"},{"type":"null"}]},"memberCount":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"onlineCount":{"anyOf":[{"type":"number"},{"type":"null"}]},"tag":{"anyOf":[{"type":"string"},{"type":"null"}]},"traits":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"name":{"type":"string"},"position":{"type":"number"},"url":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["label","name","position","url"]}},{"type":"null"}]}},"required":["badge","banner","boosts","description","features","icon","id","invite","memberCount","name","onlineCount","tag","traits"]},{"type":"null"}]},"connectedAccounts":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"link":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"}},"required":["id","link","name"]},{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"link":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"}},"required":["id","link","name"]}}]}},"displayName":{"anyOf":[{"type":"string"},{"type":"null"}]},"internalErrors":{"type":"array","items":{"type":"string"}},"legacyName":{"anyOf":[{"type":"string"},{"type":"null"}]},"modActions":{"type":"array","items":{"type":"object","properties":{"date":{"type":"number"},"description":{"type":"string"},"details":{"type":"object","properties":{"ground":{"type":"string"},"source":{"type":"string"},"targetType":{"type":"string"}},"required":["ground","source","targetType"]},"id":{"type":"string"},"status":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"timeline":{"type":"object","properties":{"application":{"type":"number"},"content":{"type":"number"},"created":{"type":"number"}},"required":["application","content","created"]},"title":{"type":"string"}},"required":["date","description","details","id","status","tags","timeline","title"]}},"pfp":{"type":"string"},"presence":{"anyOf":[{"type":"string"},{"type":"null"}]},"pronouns":{"anyOf":[{"type":"string"},{"type":"null"}]},"reviewCount":{"type":"number"},"reviews":{"type":"array","items":{"type":"object","properties":{"comment":{"type":"string"},"id":{"type":"number"},"sender":{"type":"object","properties":{"badges":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"redirectURL":{"type":"string"},"type":{"type":"number"}},"required":["description","icon","name","redirectURL","type"]}},"discordID":{"type":"string"},"id":{"type":"number"},"profilePhoto":{"type":"string"},"username":{"type":"string"},"clientMod":{"type":"boolean"}},"required":["badges","discordID","id","profilePhoto","username"]},"timestamp":{"type":"number"},"type":{"type":"number"},"star":{"type":"number"}},"required":["comment","id","sender","timestamp","type"]}},"robloxProfiles":{"type":"array","items":{"type":"object","properties":{"avatarUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"badges":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"description":{"type":"string"},"displayName":{"type":"string"},"hasPremium":{"type":"boolean"},"id":{"type":"number"},"isAdmin":{"type":"boolean"},"isBanned":{"type":"boolean"},"isStarCreator":{"type":"boolean"},"isVerified":{"type":"boolean"},"pastUsernames":{"type":"array","items":{"type":"string"}},"platforms":{"type":"object","properties":{"playstation":{"type":"string"},"xbox":{"type":"string"}}},"presence":{"type":"object","properties":{"iconUrl":{"type":"string"},"lastOnline":{"type":"string"},"text":{"type":"string"},"type":{"type":"number"}},"required":["iconUrl","lastOnline","text","type"]},"socials":{"type":"object","additionalProperties":{"type":"string"}},"stats":{"type":"object","properties":{"followers":{"type":"number"},"following":{"type":"number"},"friends":{"type":"number"},"placeVisits":{"type":"number"}},"required":["followers","following","friends","placeVisits"]},"username":{"type":"string"},"error":{"type":"string"},"rolimons":{"type":"object","properties":{"rap":{"type":"number"},"value":{"type":"number"},"rank":{"type":"number"}},"required":["rap","value"]}},"required":["avatarUrl","badges","created","description","displayName","hasPremium","id","isAdmin","isBanned","isStarCreator","isVerified","pastUsernames","platforms","presence","socials","stats","username"]}},"servers":{"type":"array","items":{"type":"object","properties":{"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"type":"string"},"invite":{"anyOf":[{"type":"string"},{"type":"null"}]},"membersOnline":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"nickname":{"anyOf":[{"type":"string"},{"type":"null"}]},"totalMembers":{"anyOf":[{"type":"number"},{"type":"null"}]},"roles":{"type":"array","items":{"type":"object","properties":{"color":{"type":"number"},"hoist":{"type":"boolean"},"id":{"type":"string"},"managed":{"type":"boolean"},"name":{"type":"string"},"permissions":{"type":"string"},"position":{"type":"number"}},"required":["color","hoist","id","managed","name","permissions","position"]}}},"required":["banner","description","icon","id","invite","membersOnline","name","nickname","totalMembers"]}},"userId":{"type":"string"},"username":{"type":"string"}},"required":["banner","bio","clan","connectedAccounts","displayName","internalErrors","legacyName","modActions","pfp","presence","pronouns","reviewCount","reviews","robloxProfiles","servers","userId","username"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/socials/github":{"post":{"operationId":"postV1SearchSocialsGithub","summary":"GitHub Search","description":"Search GitHub profiles, info, and commit emails","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"bio":{"anyOf":[{"type":"string"},{"type":"null"}]},"commitEmails":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"commitRepoCount":{"type":"number"},"commits":{"type":"number"},"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"followers":{"type":"number"},"following":{"type":"number"},"id":{"type":"number"},"lastSeen":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"public_gists":{"type":"number"},"public_repos":{"type":"number"},"username":{"type":"string"}},"required":["avatar_url","bio","commitEmails","commitRepoCount","commits","company","createdAt","followers","following","id","lastSeen","location","name","public_gists","public_repos","username"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/socials/roblox":{"post":{"operationId":"postV1SearchSocialsRoblox","summary":"Roblox Search","description":"Lookup Roblox users, game statistics, and profile information","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string"},"altAccountThumbnails":{"type":"object","additionalProperties":{"type":"string"}},"altAccounts":{"type":"object","properties":{"detectedAt":{"type":"number"},"robloxUserId":{"type":"number"},"robloxUsername":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"updatedAt":{"type":"number"}},"required":["detectedAt","robloxUserId","robloxUsername","sources","updatedAt"]},"leaks":{},"profile":{"type":"object","properties":{"avatarUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"badges":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"description":{"type":"string"},"displayName":{"type":"string"},"hasPremium":{"type":"boolean"},"id":{"type":"number"},"isAdmin":{"type":"boolean"},"isBanned":{"type":"boolean"},"isStarCreator":{"type":"boolean"},"isVerified":{"type":"boolean"},"pastUsernames":{"type":"array","items":{"type":"string"}},"platforms":{"type":"object","properties":{"playstation":{"type":"string"},"xbox":{"type":"string"}}},"presence":{"type":"object","properties":{"iconUrl":{"type":"string"},"lastOnline":{"type":"string"},"text":{"type":"string"},"type":{"type":"number"}},"required":["iconUrl","lastOnline","text","type"]},"rolimons":{"type":"object","properties":{"rap":{"type":"number"},"value":{"type":"number"},"rank":{"type":"number"}},"required":["rap","value"]},"socials":{"type":"object","additionalProperties":{"type":"string"}},"stats":{"type":"object","properties":{"followers":{"type":"number"},"following":{"type":"number"},"friends":{"type":"number"},"placeVisits":{"type":"number"}},"required":["followers","following","friends","placeVisits"]},"username":{"type":"string"},"error":{"type":"string"}},"required":["avatarUrl","badges","created","description","displayName","hasPremium","id","isAdmin","isBanned","isStarCreator","isVerified","pastUsernames","platforms","presence","rolimons","socials","stats","username"]},"stealers":{"type":"array"},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}]}},"required":["type"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["email","ip","uname"],"default":"uname"}},"required":["query"]}}}}}},"/v1/search/socials/tiktok":{"post":{"operationId":"postV1SearchSocialsTiktok","summary":"TikTok Search","description":"Aggregate intelligence and data of a TikTok account","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"data":{"type":"array","minItems":2,"prefixItems":[{"type":"object","properties":{"profile":{"type":"object","properties":{"Account Created":{"type":"string"},"Avatar URL":{"type":"string"},"Bio Link":{"type":"string"},"Country":{"type":"string"},"Language":{"type":"string"},"Nickname Last Modified":{"type":"string"},"Nickname":{"type":"string"},"SecUID":{"type":"string"},"User ID":{"type":"string"},"Username Last Modified":{"type":"string"},"Username":{"type":"string"},"About":{"type":"string"}},"required":["Account Created","Avatar URL","Bio Link","Country","Language","Nickname Last Modified","Nickname","SecUID","User ID","Username Last Modified","Username"]},"stats":{"type":"object","properties":{"followers":{"type":"string"},"following":{"type":"string"},"friends":{"type":"string"},"hearts":{"type":"string"},"videos":{"type":"string"}},"required":["followers","following","friends","hearts","videos"]}}},{"type":"object","properties":{"audience_and_timing_insights":{"type":"object","properties":{"geo_indicators":{"type":"object","properties":{"top_10_languages_in_description":{"type":"array","items":{"type":"string"}},"top_10_regions_from_videos":{"type":"array","items":{"type":"string"}}},"required":["top_10_languages_in_description","top_10_regions_from_videos"]},"posting_schedule":{"type":"object","properties":{"most_active_day":{"type":"string"},"most_active_hour_utc":{"type":"string"},"optimal_posting_day":{"type":"string"},"optimal_posting_hour_utc":{"type":"string"},"performance_by_day":{"type":"object","additionalProperties":{"type":"object","properties":{"avgViews":{"type":"number"},"posts":{"type":"number"},"totalEngagement":{"type":"number"},"totalViews":{"type":"number"}},"required":["avgViews","posts","totalEngagement","totalViews"]}},"performance_by_hour":{"type":"object","additionalProperties":{"type":"object","properties":{"avgViews":{"type":"number"},"posts":{"type":"number"},"totalEngagement":{"type":"number"},"totalViews":{"type":"number"}},"required":["avgViews","posts","totalEngagement","totalViews"]}},"posting_heatmap_day_vs_hour_utc":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"number"}}},"posting_frequency":{"type":"object","properties":{"average_posts_per_week":{"type":"number"},"posting_consistency_score":{"type":"number"}}}},"required":["most_active_day","most_active_hour_utc","optimal_posting_day","optimal_posting_hour_utc","performance_by_day","performance_by_hour","posting_heatmap_day_vs_hour_utc"]}},"required":["geo_indicators","posting_schedule"]},"content_strategy_deep_dive":{"type":"object","properties":{"content_trends":{"type":"object","properties":{"content_consistency_score":{"type":"number"},"recent_popular_hashtags":{"type":"array","items":{"type":"string"}},"trending_hashtags":{"type":"array","items":{"type":"object","properties":{"hashtag":{"type":"string"},"older_usage":{"type":"number"},"recent_usage":{"type":"number"},"trend_score":{"type":"number"}},"required":["hashtag","older_usage","recent_usage","trend_score"]}}},"required":["content_consistency_score","recent_popular_hashtags","trending_hashtags"]},"top_10_effects_used":{"type":"array","items":{"type":"string"}},"top_10_music_titles_used":{"type":"array","items":{"type":"string"}},"top_15_hashtags_used":{"type":"array","items":{"type":"string"}},"video_length_analysis_seconds":{"type":"object","properties":{"average_duration":{"type":"number"},"longest_duration":{"type":"number"},"optimal_duration_range":{"type":"string"},"shortest_duration":{"type":"number"}},"required":["average_duration","longest_duration","optimal_duration_range","shortest_duration"]}},"required":["content_trends","top_10_effects_used","top_10_music_titles_used","top_15_hashtags_used","video_length_analysis_seconds"]},"key_metrics":{"type":"object","properties":{"account_statistics":{"type":"object","properties":{"followers_count":{"type":"number"},"following_count":{"type":"number"},"total_likes_received_on_all_videos":{"type":"number"}},"required":["followers_count","following_count","total_likes_received_on_all_videos"]},"average_performance_per_video":{"type":"object","properties":{"avg_comments":{"type":"number"},"avg_favorites":{"type":"number"},"avg_likes":{"type":"number"},"avg_shares":{"type":"number"},"avg_views":{"type":"number"}},"required":["avg_comments","avg_favorites","avg_likes","avg_shares","avg_views"]},"engagement_ratios":{"type":"object","properties":{"comment_to_view_ratio":{"type":"string"},"engagement_rate_per_follower":{"type":"object","properties":{"explanation":{"type":"string"},"value":{"type":"string"}},"required":["explanation","value"]},"engagement_rate_per_view":{"type":"object","properties":{"explanation":{"type":"string"},"value":{"type":"string"}},"required":["explanation","value"]},"favorite_to_view_ratio":{"type":"string"},"like_to_view_ratio":{"type":"string"},"share_to_view_ratio":{"type":"string"}},"required":["comment_to_view_ratio","engagement_rate_per_follower","engagement_rate_per_view","favorite_to_view_ratio","like_to_view_ratio","share_to_view_ratio"]},"performance_summary_across_analyzed_videos":{"type":"object","properties":{"total_comments":{"type":"number"},"total_favorites":{"type":"number"},"total_likes":{"type":"number"},"total_shares":{"type":"number"},"total_videos_analyzed":{"type":"number"},"total_views":{"type":"number"}},"required":["total_comments","total_favorites","total_likes","total_shares","total_videos_analyzed","total_views"]}},"required":["account_statistics","average_performance_per_video","engagement_ratios","performance_summary_across_analyzed_videos"]},"profile_summary":{"type":"object","properties":{"is_private_account":{"enum":["No","Yes"]},"nickname":{"type":"string"},"signature":{"type":"string"},"username":{"type":"string"}},"required":["is_private_account","nickname","signature","username"]},"report_generated_utc":{"type":"string"},"shadow_ban_risk_assessment":{"type":"object","properties":{"explanation":{"type":"string"},"result":{"type":"object","properties":{"assessment":{"type":"string"},"confidence_level":{"type":"string"},"detailed_metrics":{"type":"object","properties":{"historical_performance":{"type":"object","properties":{"avg_comments":{"type":"number"},"avg_likes":{"type":"number"},"avg_shares":{"type":"number"},"avg_views":{"type":"number"},"engagement_rate":{"type":"string"}},"required":["avg_comments","avg_likes","avg_shares","avg_views","engagement_rate"]},"recent_performance":{"type":"object","properties":{"avg_comments":{"type":"number"},"avg_likes":{"type":"number"},"avg_shares":{"type":"number"},"avg_views":{"type":"number"},"engagement_rate":{"type":"string"}},"required":["avg_comments","avg_likes","avg_shares","avg_views","engagement_rate"]}},"required":["historical_performance","recent_performance"]},"probability_percentage":{"type":"string"},"reasoning":{"type":"string"}},"required":["assessment","confidence_level","detailed_metrics","probability_percentage","reasoning"]}},"required":["explanation","result"]},"top_performing_videos_snapshot":{"type":"object","properties":{"by_comments":{"type":"array","items":{"type":"object","properties":{"created_date":{"type":"string"},"description":{"type":"string"},"engagement_rate":{"type":"string"},"value":{"type":"number"},"video_id":{"type":"string"},"video_url":{"type":"string"}},"required":["created_date","description","engagement_rate","value","video_id","video_url"]}},"by_likes":{"type":"array","items":{"type":"object","properties":{"created_date":{"type":"string"},"description":{"type":"string"},"engagement_rate":{"type":"string"},"value":{"type":"number"},"video_id":{"type":"string"},"video_url":{"type":"string"}},"required":["created_date","description","engagement_rate","value","video_id","video_url"]}},"by_shares":{"type":"array","items":{"type":"object","properties":{"created_date":{"type":"string"},"description":{"type":"string"},"engagement_rate":{"type":"string"},"value":{"type":"number"},"video_id":{"type":"string"},"video_url":{"type":"string"}},"required":["created_date","description","engagement_rate","value","video_id","video_url"]}},"by_views":{"type":"array","items":{"type":"object","properties":{"created_date":{"type":"string"},"description":{"type":"string"},"engagement_rate":{"type":"string"},"value":{"type":"number"},"video_id":{"type":"string"},"video_url":{"type":"string"}},"required":["created_date","description","engagement_rate","value","video_id","video_url"]}}},"required":["by_comments","by_likes","by_shares","by_views"]},"viral_potential_analysis":{"type":"object","properties":{"explanation":{"type":"string"},"result":{"type":"object","properties":{"assessment":{"type":"string"},"best_performing_video":{"type":"object","properties":{"likes":{"type":"number"},"video_id":{"type":"string"},"views":{"type":"number"}},"required":["likes","video_id","views"]},"factors":{"type":"array","items":{"type":"string"}},"score":{"type":"number"},"viral_videos_count":{"type":"number"}},"required":["assessment","best_performing_video","factors","score","viral_videos_count"]}},"required":["explanation","result"]}},"required":["audience_and_timing_insights","content_strategy_deep_dive","key_metrics","profile_summary","report_generated_utc","shadow_ban_risk_assessment","top_performing_videos_snapshot","viral_potential_analysis"]}],"items":false},"searchType":{"enum":["basic","full"]},"success":{"type":"boolean"}},"required":["data","searchType","success"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/ipinfo":{"post":{"operationId":"postV1SearchInfrastructureIpinfo","summary":"IP Info","description":"Analyze details of an IP Address.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"continent":{"type":"string"},"country":{"type":"string"},"hosting":{"type":"boolean"},"lat":{"type":"number"},"lon":{"type":"number"},"mobile":{"type":"boolean"},"proxy":{"type":"boolean"},"query":{"type":"string"},"status":{"enum":["fail","success"]},"timezone":{"type":"string"},"as":{"type":"string"},"asname":{"type":"string"},"city":{"type":"string"},"district":{"type":"string"},"isp":{"type":"string"},"message":{"type":"string"},"org":{"type":"string"},"regionName":{"type":"string"},"reverse":{"type":"string"},"zip":{"type":"string"}},"required":["continent","country","hosting","lat","lon","mobile","proxy","query","status","timezone"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/dns":{"post":{"operationId":"postV1SearchInfrastructureDns","summary":"DNS Reconnaissance","description":"Perform deep DNS analysis and find hidden subdomains","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"host":{"type":"string"},"total_a_recs":{"type":"number"},"a":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"type":"array","items":{"type":"string"}},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}}]},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"}},"required":["asn","asn_name","asn_range","banners","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"cname":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"type":"array","items":{"type":"string"}},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}}]},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"}},"required":["asn","asn_name","asn_range","banners","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"error":{"type":"string"},"mx":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"type":"array","items":{"type":"string"}},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}}]},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"}},"required":["asn","asn_name","asn_range","banners","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"ns":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"type":"array","items":{"type":"string"}},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}}]},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"}},"required":["asn","asn_name","asn_range","banners","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"txt":{"type":"array","items":{"type":"string"}}},"required":["host","total_a_recs"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/shodan":{"post":{"operationId":"postV1SearchInfrastructureShodan","summary":"Shodan Search","description":"IP service and software intelligence","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matches":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"cpe":{"type":"array","items":{"type":"string"}},"data":{"type":"string"},"domains":{"type":"array","items":{"type":"string"}},"hostnames":{"type":"array","items":{"type":"string"}},"ip_str":{"type":"string"},"isp":{"type":"string"},"location":{"type":"object","properties":{"city":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma_code":{"type":"number"},"latitude":{"type":"number"},"longitude":{"type":"number"},"region_code":{"type":"string"}},"required":["city","country_code","country_name","dma_code","latitude","longitude","region_code"]},"org":{"type":"string"},"os":{"type":"string"},"port":{"type":"number"},"product":{"type":"string"},"timestamp":{"type":"string"},"transport":{"type":"string"},"http":{"type":"object","properties":{"components":{"type":"object","additionalProperties":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string"}},"confidence":{"type":"number"},"versions":{"type":"array","items":{"type":"string"}}}}},"favicon":{"type":"object","properties":{"data":{"type":"string"},"location":{"type":"string"}},"required":["data","location"]},"host":{"type":"string"},"html":{"type":"string"},"location":{"type":"string"},"redirects":{"type":"array","items":{"type":"object","properties":{"data":{"type":"string"},"host":{"type":"string"},"location":{"type":"string"}},"required":["data","host","location"]}},"robots":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}},"required":["components","favicon","host","html","location","redirects","robots","server","title"]},"ssh":{"type":"object","properties":{"cipher":{"type":"string"},"fingerprint":{"type":"string"},"hassh":{"type":"string"},"kex":{"type":"object","properties":{"compression_algorithms":{"type":"array","items":{"type":"string"}},"encryption_algorithms":{"type":"array","items":{"type":"string"}},"kex_algorithms":{"type":"array","items":{"type":"string"}},"key_follows":{"type":"boolean"},"languages":{"type":"array","items":{"type":"string"}},"mac_algorithms":{"type":"array","items":{"type":"string"}},"server_host_key_algorithms":{"type":"array","items":{"type":"string"}},"unused":{"type":"number"}},"required":["compression_algorithms","encryption_algorithms","kex_algorithms","key_follows","languages","mac_algorithms","server_host_key_algorithms","unused"]},"key":{"type":"string"},"mac":{"type":"string"},"type":{"type":"string"}},"required":["cipher","fingerprint","hassh","kex","key","mac","type"]},"ssl":{"type":"object","properties":{"acceptable_cas":{"type":"array","items":{"type":"string"}},"alpn":{"type":"array","items":{"type":"string"}},"cert":{"type":"object","properties":{"expired":{"type":"boolean"},"expires":{"type":"string"},"extensions":{"type":"array","items":{"type":"object","properties":{"data":{"type":"string"},"name":{"type":"string"},"critical":{"type":"boolean"}},"required":["data","name"]}},"fingerprint":{"type":"object","additionalProperties":{"type":"string"}},"issued":{"type":"string"},"issuer":{"type":"object","properties":{"C":{"type":"string"},"CN":{"type":"string"},"O":{"type":"string"}}},"pubkey":{"type":"object","properties":{"bits":{"type":"number"},"type":{"type":"string"}},"required":["bits","type"]},"serial":{"type":"number"},"sig_alg":{"type":"string"},"subject":{"type":"object","properties":{"CN":{"type":"string"}}},"version":{"type":"number"}},"required":["expired","expires","extensions","fingerprint","issued","issuer","pubkey","serial","sig_alg","subject","version"]},"chain":{"type":"array","items":{"type":"string"}},"chain_sha256":{"type":"array","items":{"type":"string"}},"cipher":{"type":"object","properties":{"bits":{"type":"number"},"name":{"type":"string"},"version":{"type":"string"}},"required":["bits","name","version"]},"handshake_states":{"type":"array","items":{"type":"string"}},"ja3s":{"type":"string"},"jarm":{"type":"string"},"tlstext":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}},"required":["id","name"]}},"trust":{"type":"object","properties":{"revoked":{"type":"boolean"}},"required":["revoked"]},"versions":{"type":"string"}},"required":["acceptable_cas","alpn","cert","chain","chain_sha256","cipher","handshake_states","ja3s","jarm","tlstext","trust","versions"]}},"required":["asn","cpe","data","domains","hostnames","ip_str","isp","location","org","os","port","product","timestamp","transport"]}},"total":{"type":"number"}},"required":["matches","total"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/whois":{"post":{"operationId":"postV1SearchInfrastructureWhois","summary":"Whois","description":"Return information on a domain and its registration","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"handle":{"type":"string"},"links":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"roles":{"type":"array","items":{"type":"string"}},"vcardArray":{"type":"array","minItems":2,"prefixItems":[{"const":"vcard"},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"string"}},{"type":"object"}]}}],"items":false},"entities":{"type":"array","items":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"string"}},"vcardArray":{"type":"array","minItems":2,"prefixItems":[{"const":"vcard"},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"string"}},{"type":"object"}]}}],"items":false}},"required":["roles","vcardArray"]}}},"required":["handle","links","roles","vcardArray"]}},"events":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"ldhName":{"type":"string"},"nameservers":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"secureDNS":{"type":"object","additionalProperties":{"type":"string"}},"status":{"type":"array","items":{"type":"string"}}},"required":["entities","events","ldhName","nameservers","secureDNS","status"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","pattern":"^[a-z0-9]+([.-][a-z0-9]+)*\\.[a-z]{2,63}$"}},"required":["query"]}}}}}},"/v1/search/infrastructure/portscan":{"post":{"operationId":"postV1SearchInfrastructurePortscan","summary":"Port Scan","description":"Perform a port scan on a given IP address or domain.\n\n  Response type:\n  ```ts\n  interface NmapScanResult {\n    $: {\n      scanner: string;\n      args: string;\n      start: string;\n      startstr: string;\n      version: string;\n      xmloutputversion: string;\n    };\n    scaninfo: Array<{\n      $: {\n        type: string;\n        protocol: string;\n        numservices: string;\n        services: string;\n      };\n    }>;\n    verbose: Array<{ $: { level: string } }>;\n    debugging: Array<{ $: { level: string } }>;\n    taskprogress?: Array<{\n      $: {\n        task: string;\n        time: string;\n        percent: string;\n        remaining: string;\n        etc: string;\n      };\n    }>;\n    host?: Array<{\n      $: {\n        starttime: string;\n        endtime: string;\n      };\n      status: Array<{\n        $: {\n          state: string;\n          reason: string;\n          reason_ttl: string;\n        };\n      }>;\n      address: Array<{\n        $: {\n          addr: string;\n          addrtype: string;\n        };\n      }>;\n      hostnames?: Array<{\n        hostname: Array<{\n          $: {\n            name: string;\n            type: string;\n          };\n        }>;\n      }>;\n      ports?: Array<{\n        extraports?: Array<{\n          $: {\n            state: string;\n            count: string;\n          };\n          extrareasons: Array<{\n            $: {\n              reason: string;\n              count: string;\n              proto: string;\n              ports: string;\n            };\n          }>;\n        }>;\n        port?: Array<{\n          $: {\n            protocol: string;\n            portid: string;\n          };\n          state: Array<{\n            $: {\n              state: string;\n              reason: string;\n              reason_ttl: string;\n            };\n          }>;\n          service?: Array<{\n            $: {\n              name: string;\n              product?: string;\n              version?: string;\n              extrainfo?: string;\n              ostype?: string;\n              method: string;\n              conf: string;\n            };\n            cpe?: string[];\n          }>;\n        }>;\n      }>;\n      times?: Array<{\n        $: {\n          srtt: string;\n          rttvar: string;\n          to: string;\n        };\n      }>;\n    }>;\n    runstats: Array<{\n      finished: Array<{\n        $: {\n          time: string;\n          timestr: string;\n          summary: string;\n          elapsed: string;\n          exit: string;\n        };\n      }>;\n      hosts: Array<{\n        $: {\n          up: string;\n          down: string;\n          total: string;\n        };\n      }>;\n    }>;\n  }\n```\n  ","responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"type":"string","description":"Server-Sent Events stream. Each event data field contains a JSON object string representing progress, success, or error."},"examples":{"analyzing":{"summary":"Progress update","value":"data: {\"status\":\"progress\",\"task\":\"Connect Scan\", \"percent\": 67.41}\n\n"},"complete":{"summary":"Successful completion","value":"data: {\"type\":\"complete\",\"result\":{\"$\":{\"scanner\":\"nmap\",\"args\":\"nmap -T5 -oX - --stats-every 1s -Pn -sV -p 1-1000 scanme.nmap.org\",\"start\":\"1770150901\",\"startstr\":\"Tue Feb  3 15:35:01 2026\",\"version\":\"7.95\",\"xmloutputversion\":\"1.05\"},\"scaninfo\":[{\"$\":{\"type\":\"connect\",\"protocol\":\"tcp\",\"numservices\":\"1000\",\"services\":\"1-1000\"}}],\"verbose\":[{\"$\":{\"level\":\"0\"}}],\"debugging\":[{\"$\":{\"level\":\"0\"}}],\"taskprogress\":[{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150902\",\"percent\":\"1.85\",\"remaining\":\"54\",\"etc\":\"1770150955\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150903\",\"percent\":\"3.10\",\"remaining\":\"63\",\"etc\":\"1770150966\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150904\",\"percent\":\"9.00\",\"remaining\":\"31\",\"etc\":\"1770150934\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150905\",\"percent\":\"14.70\",\"remaining\":\"24\",\"etc\":\"1770150928\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150906\",\"percent\":\"20.75\",\"remaining\":\"20\",\"etc\":\"1770150925\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150907\",\"percent\":\"26.20\",\"remaining\":\"17\",\"etc\":\"1770150924\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150908\",\"percent\":\"31.97\",\"remaining\":\"15\",\"etc\":\"1770150923\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150909\",\"percent\":\"37.57\",\"remaining\":\"14\",\"etc\":\"1770150922\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150910\",\"percent\":\"43.47\",\"remaining\":\"12\",\"etc\":\"1770150922\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150911\",\"percent\":\"49.07\",\"remaining\":\"11\",\"etc\":\"1770150921\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150912\",\"percent\":\"55.07\",\"remaining\":\"9\",\"etc\":\"1770150921\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150913\",\"percent\":\"60.57\",\"remaining\":\"8\",\"etc\":\"1770150921\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150914\",\"percent\":\"66.57\",\"remaining\":\"7\",\"etc\":\"1770150921\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150915\",\"percent\":\"72.40\",\"remaining\":\"6\",\"etc\":\"1770150920\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150916\",\"percent\":\"77.73\",\"remaining\":\"5\",\"etc\":\"1770150920\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150917\",\"percent\":\"83.23\",\"remaining\":\"4\",\"etc\":\"1770150920\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150918\",\"percent\":\"89.23\",\"remaining\":\"3\",\"etc\":\"1770150920\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150919\",\"percent\":\"95.23\",\"remaining\":\"1\",\"etc\":\"1770150920\"}},{\"$\":{\"task\":\"Connect Scan\",\"time\":\"1770150920\",\"percent\":\"100.00\",\"remaining\":\"0\",\"etc\":\"1770150920\"}}],\"host\":[{\"$\":{\"starttime\":\"1770150901\",\"endtime\":\"1770150920\"},\"status\":[{\"$\":{\"state\":\"up\",\"reason\":\"user-set\",\"reason_ttl\":\"0\"}}],\"address\":[{\"$\":{\"addr\":\"45.33.32.156\",\"addrtype\":\"ipv4\"}}],\"hostnames\":[{\"hostname\":[{\"$\":{\"name\":\"scanme.nmap.org\",\"type\":\"user\"}},{\"$\":{\"name\":\"scanme.nmap.org\",\"type\":\"PTR\"}}]}],\"ports\":[{\"extraports\":[{\"$\":{\"state\":\"closed\",\"count\":\"998\"},\"extrareasons\":[{\"$\":{\"reason\":\"conn-refused\",\"count\":\"998\",\"proto\":\"tcp\",\"ports\":\"1-21,23-79,81-1000\"}}]}],\"port\":[{\"$\":{\"protocol\":\"tcp\",\"portid\":\"22\"},\"state\":[{\"$\":{\"state\":\"open\",\"reason\":\"syn-ack\",\"reason_ttl\":\"0\"}}],\"service\":[{\"$\":{\"name\":\"ssh\",\"product\":\"OpenSSH\",\"version\":\"6.6.1p1 Ubuntu 2ubuntu2.13\",\"extrainfo\":\"Ubuntu Linux; protocol 2.0\",\"ostype\":\"Linux\",\"method\":\"probed\",\"conf\":\"10\"},\"cpe\":[\"cpe:/a:openbsd:openssh:6.6.1p1\",\"cpe:/o:linux:linux_kernel\"]}]},{\"$\":{\"protocol\":\"tcp\",\"portid\":\"80\"},\"state\":[{\"$\":{\"state\":\"filtered\",\"reason\":\"no-response\",\"reason_ttl\":\"0\"}}],\"service\":[{\"$\":{\"name\":\"http\",\"method\":\"table\",\"conf\":\"3\"}}]}]}],\"times\":[{\"$\":{\"srtt\":\"82031\",\"rttvar\":\"6194\",\"to\":\"106807\"}}]}],\"runstats\":[{\"finished\":[{\"$\":{\"time\":\"1770150920\",\"timestr\":\"Tue Feb  3 15:35:20 2026\",\"summary\":\"Nmap done at Tue Feb  3 15:35:20 2026; 1 IP address (1 host up) scanned in 19.31 seconds\",\"elapsed\":\"19.31\",\"exit\":\"success\"}}],\"hosts\":[{\"$\":{\"up\":\"1\",\"down\":\"0\",\"total\":\"1\"}}]}]}}\n\n"},"error":{"summary":"Error response","value":"data: {\"status\":\"error\",\"success\":false,\"error\":\"Server error\"}\n\n"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string"},"options":{"type":"object","properties":{"scanAll":{"type":"boolean"},"skipPing":{"type":"boolean"},"udp":{"type":"boolean"}}}},"required":["host","options"]}}}}}},"/v1/search/infrastructure/certificates":{"post":{"operationId":"postV1SearchInfrastructureCertificates","summary":"Certificate Lookup","description":"Lookup details about a TLS certificate by domain.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"common_name":{"type":"string"},"entry_timestamp":{"type":"string"},"id":{"type":"number"},"issuer_ca_id":{"type":"number"},"issuer_name":{"type":"string"},"name_value":{"type":"string"},"not_after":{"type":"string"},"not_before":{"type":"string"},"serial_number":{"type":"string"}},"required":["common_name","entry_timestamp","id","issuer_ca_id","issuer_name","name_value","not_after","not_before","serial_number"]}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"common_name":{"type":"string"},"entry_timestamp":{"type":"string"},"id":{"type":"number"},"issuer_ca_id":{"type":"number"},"issuer_name":{"type":"string"},"name_value":{"type":"string"},"not_after":{"type":"string"},"not_before":{"type":"string"},"serial_number":{"type":"string"}},"required":["common_name","entry_timestamp","id","issuer_ca_id","issuer_name","name_value","not_after","not_before","serial_number"]}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/tools/doogle":{"post":{"operationId":"postV1ToolsDoogle","summary":"Discord Alt Lookup","description
[...]
