{"openapi":"3.2.0","info":{"title":"Indicia API","description":"Programmatically access Indicia's features via API keys.\n        Get started by creating an API key in the [Indicia Dashboard](https://indicia.app/dashboard/account).\n       A JavaScript SDK is also available at [`@indiciaosint/sdk`](https://www.npmjs.com/package/@indiciaosint/sdk)\n        ","version":"1.0.0"},"servers":[{"url":"https://api.indicia.app"}],"security":[{"ApiKey":[]}],"components":{"schemas":{"FailedResponse":{"type":"object","title":"FailedResponse","description":"A failed API response.","required":["success"],"properties":{"success":{"type":"boolean","description":"Always `false` for error responses."},"error":{"type":"string","description":"Human-readable error message."}}}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key for authenticating requests. Obtain a key from [Indicia Dashboard](https://indicia.app/dashboard/account)"}}},"paths":{"/v1/info":{"get":{"operationId":"getInfo","tags":["users"],"description":"Get information about the user, also healthcheck endpoint.","responses":{"200":{"description":"Successful response with user information.","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"object","properties":{"createdAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"enabled":{"type":"boolean"},"expiresAt":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"id":{"type":"string"},"lastRefillAt":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"lastRequest":{"anyOf":[{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},{"type":"null"}]},"metadata":{"anyOf":[{"type":"object","additionalProperties":{}},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"permissions":{"anyOf":[{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},{"type":"null"}]},"prefix":{"anyOf":[{"type":"string"},{"type":"null"}]},"rateLimitEnabled":{"type":"boolean"},"rateLimitMax":{"anyOf":[{"type":"number"},{"type":"null"}]},"rateLimitTimeWindow":{"anyOf":[{"type":"number"},{"type":"null"}]},"refillAmount":{"anyOf":[{"type":"number"},{"type":"null"}]},"refillInterval":{"anyOf":[{"type":"number"},{"type":"null"}]},"remaining":{"anyOf":[{"type":"number"},{"type":"null"}]},"requestCount":{"type":"number"},"start":{"anyOf":[{"type":"string"},{"type":"null"}]},"updatedAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"userId":{"type":"string"}},"required":["createdAt","enabled","expiresAt","id","lastRefillAt","lastRequest","metadata","name","permissions","prefix","rateLimitEnabled","rateLimitMax","rateLimitTimeWindow","refillAmount","refillInterval","remaining","requestCount","start","updatedAt","userId"]},"success":{"type":"boolean"},"user":{"type":"object","properties":{"acceptOrgInvites":{"type":"boolean"},"acceptedLegalHash":{"anyOf":[{"type":"string"},{"type":"null"}]},"banExpires":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"banReason":{"anyOf":[{"type":"string"},{"type":"null"}]},"banned":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"boughtCreditsAfterReferral":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"createdAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"displayUsername":{"anyOf":[{"type":"string"},{"type":"null"}]},"email":{"type":"string"},"emailVerified":{"type":"boolean"},"flagged":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"id":{"type":"string"},"image":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"},"referralLink":{"anyOf":[{"type":"string"},{"type":"null"}]},"referred":{"anyOf":[{"type":"string"},{"type":"null"}]},"restrictedFeatures":{"anyOf":[{"type":"array","items":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","vehicle","web-dbs","whois"]}},{"type":"null"}]},"role":{"anyOf":[{"type":"string"},{"type":"null"}]},"stripeConnectedId":{"anyOf":[{"type":"string"},{"type":"null"}]},"stripeId":{"anyOf":[{"type":"string"},{"type":"null"}]},"taxState":{"anyOf":[{"type":"string"},{"type":"null"}]},"tokens":{"anyOf":[{"type":"integer","maximum":2147483647,"minimum":-2147483648},{"type":"null"}]},"twoFactorEnabled":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"updatedAt":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"username":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["acceptOrgInvites","acceptedLegalHash","banExpires","banReason","banned","boughtCreditsAfterReferral","createdAt","displayUsername","email","emailVerified","flagged","id","image","name","referralLink","referred","restrictedFeatures","role","stripeConnectedId","stripeId","taxState","tokens","twoFactorEnabled","updatedAt","username"]}},"required":["key","success","user"]}}}}}}},"/v1/pricing":{"get":{"operationId":"getPricing","tags":["pricing"],"description":"Gives credit pricing for all Indicia services","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"current":{"type":"number"},"prices":{"type":"object","additionalProperties":{"type":"number"}},"success":{"type":"boolean"}},"required":["current","prices","success"]}}}}}}},"/v1/activity":{"get":{"operationId":"listActivities","tags":["activity"],"description":"Get a list of recent activities.","responses":{"200":{"description":"Successful response with a list of activities.","content":{"application/json":{"schema":{"type":"object","properties":{"activities":{"type":"array","items":{"type":"object","properties":{"agent":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"apiKey":{"anyOf":[{"type":"string"},{"type":"null"}]},"case":{"anyOf":[{"type":"string"},{"type":"null"}]},"detail":{"type":"string"},"id":{"type":"string","description":"a RFC-4122-compliant UUID","pattern":"^[\\da-f]{8}(?:-[\\da-f]{4}){3}-[\\da-f]{12}$"},"query":{"type":"string"},"result":{"anyOf":[{"type":"number"},{"type":"object"},{"type":"string"},{"type":"boolean"},{"type":"null"}]},"time":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"type":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","other","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","usernames","vehicle","web-dbs","whois"]},"user":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["agent","apiKey","case","detail","id","query","result","time","type","user"]}},"success":{"type":"boolean"}},"required":["activities","success"]}}}}},"parameters":[{"in":"query","name":"limit","schema":{"type":"string"}},{"in":"query","name":"offset","schema":{"type":"string"}}]}},"/v1/activity/{id}":{"get":{"operationId":"getActivity","tags":["activity"],"description":"Get a specific activity by its ID.","responses":{"200":{"description":"Successful response with the activity details.","content":{"application/json":{"schema":{"type":"object","properties":{"activity":{"type":"object","properties":{"agent":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"apiKey":{"anyOf":[{"type":"string"},{"type":"null"}]},"case":{"anyOf":[{"type":"string"},{"type":"null"}]},"detail":{"type":"string"},"id":{"type":"string","description":"a RFC-4122-compliant UUID","pattern":"^[\\da-f]{8}(?:-[\\da-f]{4}){3}-[\\da-f]{12}$"},"query":{"type":"string"},"result":{"anyOf":[{"type":"number"},{"type":"object"},{"type":"string"},{"type":"boolean"},{"type":"null"}]},"time":{"type":"integer","description":"an integer representing a safe Unix timestamp","maximum":8640000000000000,"minimum":-8640000000000000},"type":{"enum":["address","breachvip","certificates","cloudsint","courtrecords","discord","dnsdumpster","doogle","doublecounter","email","fr","geolocation","ghosint.search","github","gmail","hudsonrock","intelligencex.identityportal","intelx","intelx.stealerlogs","ipinfo","leakcheck","leakosint","melissa","minecraft","osintindustries","other","person","phone","phonebook","pimeyes","portscan","roblox","scraper","seon","shodan","snusbase","tiktok","uk","username","usernames","vehicle","web-dbs","whois"]},"user":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["agent","apiKey","case","detail","id","query","result","time","type","user"]},"success":{"type":"boolean"}},"required":["activity","success"]}}}},"404":{"description":"Activity not found."}},"parameters":[{"in":"path","name":"id","schema":{"anyOf":[{"type":"string","description":"a UUID","format":"uuid","pattern":"[\\da-f]{8}-[\\da-f]{4}-[1-8][\\da-f]{3}-[89ab][\\da-f]{3}-[\\da-f]{12}"},{"const":"00000000-0000-0000-0000-000000000000","description":"a UUID","format":"uuid"},{"const":"ffffffff-ffff-ffff-ffff-ffffffffffff","description":"a UUID","format":"uuid"}],"format":"uuid"},"required":true,"description":"a UUID"}]},"delete":{"operationId":"deleteActivity","tags":["activity"],"description":"Delete a specific activity by its ID.","responses":{"200":{"description":"Successful deletion of the activity."},"404":{"description":"Activity not found."}},"parameters":[{"in":"path","name":"id","schema":{"anyOf":[{"type":"string","description":"a UUID","format":"uuid","pattern":"[\\da-f]{8}-[\\da-f]{4}-[1-8][\\da-f]{3}-[89ab][\\da-f]{3}-[\\da-f]{12}"},{"const":"00000000-0000-0000-0000-000000000000","description":"a UUID","format":"uuid"},{"const":"ffffffff-ffff-ffff-ffff-ffffffffffff","description":"a UUID","format":"uuid"}],"format":"uuid"},"required":true,"description":"a UUID"}]}},"/v1/search/intelligence/address":{"post":{"operationId":"searchAddress","tags":["intelligence"],"summary":"Address Search (US Only)","responses":{"200":{"description":"Search for individuals by address.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt2DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt3DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"number"},{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1DOB","alt2DOB","alt3DOB","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"error":{"type":"string"},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}}}}},"required":["local","web"]},"success":{"type":"boolean"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address1":{"type":"string"},"city":{"type":"string"},"state":{"type":"string","maxLength":49},"zip":{"type":"string"},"address2":{"type":"string"}},"required":["address1","city","state","zip"]}}}}}},"/v1/search/intelligence/email":{"post":{"operationId":"searchEmail","tags":["intelligence"],"summary":"Email Search (US Only)","description":"Search for individuals by email address.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"error":{"type":"string"},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}}}}},"required":["web"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","pattern":"^[\\w%+.-]+@[\\d.A-Za-z-]+\\.[A-Za-z]{2,}$","format":"email"}},"required":["query"]}}}}}},"/v1/search/intelligence/geolocation":{"post":{"operationId":"geolocateMedia","tags":["intelligence"],"summary":"Geolocate Media","description":"Geolocate an image using AI-powered analysis. Streams progress updates via Server-Sent Events.","responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"type":"object","title":"GeolocationEvent","description":"A Server-Sent Event whose `data` field carries the event payload.","required":["data"],"properties":{"data":{"title":"GeolocationEventData","description":"JSON `data` payload of a geolocation Server-Sent Event. Discriminated by `status`.","oneOf":[{"type":"object","title":"AnalyzingEvent","description":"Progress heartbeat emitted while analysis is in progress. Sent immediately on connection and then roughly every 10 seconds to keep the connection alive.","required":["status"],"properties":{"status":{"type":"string","const":"analyzing"},"timestamp":{"type":"integer","description":"Unix epoch milliseconds of the heartbeat."}}},{"type":"object","title":"CompleteEvent","description":"Terminal event containing the geolocation result.","required":["status","success","data"],"properties":{"status":{"type":"string","const":"complete"},"success":{"type":"boolean","const":true},"data":{"type":"object","description":"Geolocation analysis result.","required":["location","coordinates","certainty","reasoning"],"properties":{"location":{"type":["string","null"],"description":"Human-readable location name, or null if undetermined."},"coordinates":{"type":["string","null"],"description":"Comma-separated \"latitude,longitude\" pair, or null if undetermined."},"certainty":{"type":"string","description":"Confidence level of the geolocation result."},"reasoning":{"type":"string","description":"Explanation of how the location was determined."},"mapsUrl":{"type":"string","format":"uri","description":"Google Maps URL for the determined coordinates."}}}}},{"type":"object","title":"ErrorEvent","description":"Terminal event indicating the analysis failed.","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}],"discriminator":{"propertyName":"status"}}}},"itemSchema":{"type":"object","title":"GeolocationEvent","description":"A parsed Server-Sent Event; its string `data` field carries a JSON payload.","required":["data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"title":"GeolocationEventData","description":"JSON `data` payload of a geolocation Server-Sent Event. Discriminated by `status`.","oneOf":[{"type":"object","title":"AnalyzingEvent","description":"Progress heartbeat emitted while analysis is in progress. Sent immediately on connection and then roughly every 10 seconds to keep the connection alive.","required":["status"],"properties":{"status":{"type":"string","const":"analyzing"},"timestamp":{"type":"integer","description":"Unix epoch milliseconds of the heartbeat."}}},{"type":"object","title":"CompleteEvent","description":"Terminal event containing the geolocation result.","required":["status","success","data"],"properties":{"status":{"type":"string","const":"complete"},"success":{"type":"boolean","const":true},"data":{"type":"object","description":"Geolocation analysis result.","required":["location","coordinates","certainty","reasoning"],"properties":{"location":{"type":["string","null"],"description":"Human-readable location name, or null if undetermined."},"coordinates":{"type":["string","null"],"description":"Comma-separated \"latitude,longitude\" pair, or null if undetermined."},"certainty":{"type":"string","description":"Confidence level of the geolocation result."},"reasoning":{"type":"string","description":"Explanation of how the location was determined."},"mapsUrl":{"type":"string","format":"uri","description":"Google Maps URL for the determined coordinates."}}}}},{"type":"object","title":"ErrorEvent","description":"Terminal event indicating the analysis failed.","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}],"discriminator":{"propertyName":"status"}}}}},"examples":{"analyzing":{"summary":"Progress heartbeat","value":{"data":{"status":"analyzing","timestamp":1704153600000}}},"complete":{"summary":"Successful completion","value":{"data":{"status":"complete","success":true,"data":{"location":"Paris, France","coordinates":"48.8566,2.3522","certainty":"high","reasoning":"Identified Eiffel Tower landmark","mapsUrl":"https://www.google.com/maps/search/?api=1&query=48.8566,2.3522"}}}},"error":{"summary":"Error response","value":{"data":{"status":"error","success":false,"error":"Server error"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{"type":"string","format":"binary","description":"The image file to be analyzed. Max size 10MB"},"locationHint":{"type":"string","description":"Optional geographic hint to narrow the search area (e.g. \"NYC\", \"France\"). Max 20 characters. The AI may override it if visual evidence disagrees."},"model":{"anyOf":[{"const":"default","description":"The geolocation model to use. \"enhanced\" provides more detailed analysis at a higher credit cost, and takes longer."},{"const":"enhanced","description":"The geolocation model to use. \"enhanced\" provides more detailed analysis at a higher credit cost, and takes longer."}],"description":"The geolocation model to use. \"enhanced\" provides more detailed analysis at a higher credit cost, and takes longer."}},"required":["media"]}}}}}},"/v1/search/intelligence/gmail":{"post":{"operationId":"searchGmail","tags":["intelligence"],"summary":"Gmail Search","description":"Fetches Gmail account information based on the provided email address using the Ghunt library.","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object","properties":{"profile":{"type":"object","properties":{"emails":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]},{}]}},"personId":{"type":"string"},"sourceIds":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"lastUpdated":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["lastUpdated"]},{}]}},"coverPhotos":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"flathash":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"url":{"type":"string"}},"required":["flathash","isDefault","url"]},{}]}},"extendedData":{"type":"object","properties":{"dynamiteData":{"type":"object","properties":{"customerId":{"anyOf":[{"type":"string"},{"type":"null"}]},"dndState":{"type":"string"},"entityType":{"type":"string"},"presence":{"type":"string"}},"required":["customerId","dndState","entityType","presence"]},"gplusData":{"type":"object","properties":{"contentRestriction":{"type":"string"},"isEntrepriseUser":{"type":"boolean"}},"required":["contentRestriction","isEntrepriseUser"]}},"required":["dynamiteData","gplusData"]},"inAppReachability":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"apps":{"type":"array","items":{"type":"string"}}},"required":["apps"]},{}]}},"names":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"fullname":{"type":"string"}},"required":["fullname"]},{}]}},"profileInfos":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"userTypes":{"type":"array","items":{"type":"string"}}},"required":["userTypes"]},{}]}},"profilePhotos":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"flathash":{"anyOf":[{"type":"string"},{"type":"null"}]},"isDefault":{"type":"boolean"},"url":{"type":"string"}},"required":["flathash","isDefault","url"]},{}]}}},"required":["emails","personId","sourceIds"]},"calendar":{"anyOf":[{"type":"object","properties":{"details":{"type":"object","additionalProperties":{}},"events":{"type":"object","additionalProperties":{}}},"required":["details","events"]},{"type":"null"}]},"maps":{"type":"object","properties":{"photos":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"id":{"type":"string"},"location":{"type":"object","properties":{"address":{"type":"string"},"cost_level":{"type":"number"},"id":{"type":"string"},"name":{"type":"string"},"position":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"}},"required":["latitude","longitude"]},"tags":{"type":"array","items":{"type":"string"}},"types":{"type":"array","items":{"type":"string"}}},"required":["address","cost_level","id","name","position","tags","types"]},"url":{"type":"string"}},"required":["date","id","location","url"]}},"reviews":{"type":"array","items":{"type":"object","additionalProperties":{}}},"stats":{"type":"object","additionalProperties":{"type":"number"}}},"required":["photos","reviews","stats"]},"play_games":{"anyOf":[{"type":"object","properties":{"avatar_url":{"type":"string"},"id":{"type":"string"},"name":{"type":"string"}},"required":["avatar_url","id","name"]},{"type":"null"}]}},"required":["profile"]},"error":{"type":"string"}},"required":["success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","pattern":"^[\\w%+.-]+@[\\d.A-Za-z-]+\\.[A-Za-z]{2,}$","format":"email"}},"required":["email"]}}}}}},"/v1/search/intelligence/person":{"post":{"operationId":"searchPerson","tags":["intelligence"],"summary":"Person Search (US Only)","description":"Search for individuals by name and state.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt2DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt3DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"number"},{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1DOB","alt2DOB","alt3DOB","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"error":{"type":"string"},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}}}}},"required":["local","web"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"}},"required":["name"]}}}}}},"/v1/search/intelligence/phone":{"post":{"operationId":"searchPhone","tags":["intelligence"],"summary":"Phone Search (Individual data US only)","description":"Search for individuals by phone number.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"local":{"type":"array","items":{"type":"object","properties":{"ID":{"type":"number"},"StartDat":{"anyOf":[{"type":"number"},{"type":"null"}]},"address":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka1fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka2fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"aka3fullname":{"anyOf":[{"type":"string"},{"type":"null"}]},"alt1DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt2DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"alt3DOB":{"anyOf":[{"type":"number"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"county_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"dob":{"anyOf":[{"type":"number"},{"type":"string"},{"type":"null"}]},"firstname":{"type":"string"},"lastname":{"type":"string"},"middlename":{"anyOf":[{"type":"string"},{"type":"null"}]},"name_suff":{"anyOf":[{"type":"string"},{"type":"null"}]},"phone1":{"anyOf":[{"type":"number"},{"type":"null"}]},"st":{"anyOf":[{"type":"string"},{"type":"null"}]},"zip":{"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["ID","StartDat","address","aka1fullname","aka2fullname","aka3fullname","alt1DOB","alt2DOB","alt3DOB","city","county_name","dob","firstname","lastname","middlename","name_suff","phone1","st","zip"]}},"phone":{"type":"object","properties":{"country_code":{"type":"string"},"national_format":{"type":"string"},"phone_number":{"type":"string"},"valid":{"type":"boolean"},"line_type_intelligence":{"type":"object","properties":{"carrier_name":{"type":"string"},"mobile_country_code":{"type":"string"},"mobile_network_code":{"type":"string"},"type":{"type":"string"}},"required":["carrier_name","mobile_country_code","mobile_network_code","type"]},"sms_pumping_risk":{"type":"object","properties":{"number_blocked":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"number_blocked_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"number_blocked_last_3_months":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"carrier_risk_categories":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["number_blocked","number_blocked_date","number_blocked_last_3_months"]}},"required":["country_code","national_format","phone_number","valid"]},"web":{"type":"array","items":{"type":"object","properties":{"aka":{"type":"array","items":{"type":"string"}},"associates":{"type":"array","items":{"type":"string"}},"children":{"type":"number"},"currentAddress":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"error":{"type":"string"},"maritalStatus":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"pastAddresses":{"type":"array","items":{"type":"string"}},"phones":{"type":"array","items":{"type":"string"}}}}}},"required":["local","phone","web"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","minLength":10,"maxLength":10}},"required":["query"]}}}}}},"/v1/search/intelligence/seon":{"post":{"operationId":"searchSeon","tags":["intelligence"],"summary":"SEON Lookup","description":"Evaluate potential threats with SEON’s counter fraud intelligence systems.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"account_aggregates":{"type":"object","properties":{"business":{"type":"object","properties":{"jobs_and_employment":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"money_transfer_remittance":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"science_and_education":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"technology":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"total_registration":{"type":"number"}}},"personal":{"type":"object","properties":{"adult_sites":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"betting_and_gaming":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"dating":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"delivery":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"ecommerce":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"email_service":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"entertainment":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"health_and_fitness":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"messenger":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"real_estate":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"social_media":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"technology":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}},"total_registration":{"type":"number"},"travel":{"type":"object","properties":{"checked":{"type":"number"},"registered":{"type":"number"}}}}},"total_registration":{"type":"number"}}},"applied_rules":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"operation":{"type":"string"},"score":{"type":"number"}}}},"associated_domain_registrations":{"type":"object","properties":{"domains":{"type":"array","items":{"type":"object","properties":{"city_name":{"type":"string"},"company_name":{"type":"string"},"country_code":{"type":"string"},"create_date":{"type":"string"},"domain_name":{"type":"string"},"expiry_date":{"type":"string"},"full_name":{"type":"string"},"mailing_address":{"type":"string"},"phone_number":{"type":"string"},"registrar_name":{"type":"string"},"state_name":{"type":"string"},"update_date":{"type":"string"},"zip_code":{"type":"string"}}}},"exists":{"type":"boolean"},"first_registration_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"number_of_domains":{"type":"number"}}},"bin_bank":{"type":"string"},"bin_card":{"type":"string"},"bin_country":{"type":"string"},"bin_country_code":{"type":"string"},"bin_level":{"type":"string"},"bin_phone":{"type":"string"},"bin_type":{"type":"string"},"bin_valid":{"type":"boolean"},"bin_website":{"type":"string"},"breach_details":{"type":"object","properties":{"breaches":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"domain":{"type":"string"},"name":{"type":"string"}}}},"first_breach":{"type":"string"},"haveibeenpwned_listed":{"type":"boolean"},"last_breach":{"type":"string"},"number_of_breaches":{"type":"number"}}},"card_bin":{"type":"string"},"card_issuer":{"type":"string"},"city":{"type":"string"},"cnam_details":{"type":"object","properties":{"name":{"type":"string"}}},"consumer_privacy_network":{"type":"boolean"},"country":{"type":"string"},"data_center_proxy":{"type":"boolean"},"email":{"type":"string"},"email_details":{"type":"object","properties":{"deliverable":{"type":"boolean"},"earliest_profile_date":{"type":"string"},"email_randomness_score":{"type":"number"},"full_inbox":{"type":"boolean"},"minimum_age_months":{"type":"number"},"valid_format":{"type":"boolean"}}},"email_domain_details":{"type":"object","properties":{"accept_all":{"type":"boolean"},"created":{"type":"string"},"custom":{"type":"boolean"},"disposable":{"type":"boolean"},"dmarc_enforced":{"type":"boolean"},"domain":{"type":"string"},"expires":{"type":"string"},"free":{"type":"boolean"},"registered":{"type":"boolean"},"registered_to":{"type":"string"},"registrar_name":{"type":"string"},"spf_strict":{"type":"boolean"},"suspicious_tld":{"type":"boolean"},"tld":{"type":"string"},"updated":{"type":"string"},"valid_mx":{"type":"boolean"},"website_exists":{"type":"boolean"}}},"enterprise_private_network":{"type":"boolean"},"flags":{"type":"array","items":{"type":"object","additionalProperties":{}}},"harmful":{"type":"boolean"},"history":{"type":"object","additionalProperties":{}},"hlr_details":{"type":"object","properties":{"imsi":{"type":"string"},"original_carrier":{"type":"object","properties":{"carrier":{"type":"string"},"carrier_prefix":{"type":"string"}}},"ported_carrier":{"type":"object","properties":{"carrier":{"type":"string"},"carrier_prefix":{"type":"string"}}},"roaming_carrier":{"type":"object","properties":{"carrier":{"anyOf":[{"type":"string"},{"type":"null"}]},"carrier_country":{"anyOf":[{"type":"string"},{"type":"null"}]},"carrier_prefix":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"serving_msc":{"anyOf":[{"type":"string"},{"type":"null"}]},"status":{"type":"string"}}},"id":{"type":"string"},"ip":{"type":"string"},"isp_name":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"open_ports":{"type":"array","items":{"type":"number"}},"phone":{"anyOf":[{"type":"number"},{"type":"string"}]},"provider_carrier_details":{"type":"object","properties":{"carrier":{"type":"string"},"country":{"type":"string"},"disposable":{"type":"boolean"},"phone_is_valid":{"type":"boolean"},"type":{"type":"string"}}},"provider_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"public_proxy":{"type":"boolean"},"residential_proxy":{"type":"boolean"},"risk_scores":{"type":"object","properties":{"global_network_score":{"type":"number"}}},"score":{"type":"number"},"search_engine_spider":{"type":"boolean"},"seon_fraud_history":{"type":"object","properties":{"customer_hits":{"type":"number"},"first_seen":{"anyOf":[{"type":"number"},{"type":"null"}]},"flags":{"type":"array","items":{"type":"string"}},"fraudulent_decline_customer_hits":{"type":"number"},"fraudulent_decline_first_seen":{"anyOf":[{"type":"number"},{"type":"null"}]},"fraudulent_decline_hits":{"type":"number"},"fraudulent_decline_last_seen":{"anyOf":[{"type":"number"},{"type":"null"}]},"hits":{"type":"number"},"last_seen":{"anyOf":[{"type":"number"},{"type":"null"}]}}},"spam_number":{"type":"number"},"spam_urls":{"type":"array","items":{"type":"string"}},"state_prov":{"type":"string"},"timezone_offset":{"type":"string"},"tor":{"type":"boolean"},"type":{"type":"string"},"vpn":{"type":"boolean"},"web_proxy":{"type":"boolean"}}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["bin","email","ip","phone"]}},"required":["query","type"]}}}}}},"/v1/search/intelligence/web-dbs":{"post":{"operationId":"searchWebDatabases","tags":["intelligence"],"summary":"Web Databases","description":"Deep web intelligence gathering and comprehensive data breach analysis","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"breachvip":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"_breach_date":{"type":"string"},"categories":{"type":"array","items":{"type":"string"}},"domain":{"type":"string"},"email":{"type":"string"},"password":{"type":"string"}},"required":["source"]}},"cloudsint":{"type":"object","properties":{"data":{"type":"object","properties":{"breaches":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"imported_at":{"type":"string"},"password":{"type":"string"},"source":{"type":"string"},"source_date":{"type":"string"},"source_name":{"type":"string"},"username":{"type":"string"}},"required":["id"]}},"query":{"type":"string"},"total_matches":{"type":"number"}},"required":["breaches","query","total_matches"]},"duration":{"type":"number"},"success":{"type":"boolean"}},"required":["data","duration","success"]},"hackcheck":{"type":"object","properties":{"results":{"type":"object","properties":{"databases":{"type":"number"},"first_seen":{"type":"string"},"found":{"type":"number"},"last_seen":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"source":{"type":"object","properties":{"date":{"type":"string"},"name":{"type":"string"}}},"email":{"type":"string"},"full_name":{"type":"string"},"hash":{"type":"string"},"ip_address":{"type":"string"},"other_fields":{"type":"object","additionalProperties":{"type":"string"}},"password":{"type":"string"},"phone_number":{"type":"string"},"sensitive_fields":{"type":"object","additionalProperties":{"type":"string"}},"username":{"type":"string"}},"required":["id","source"]}}},"required":["databases","first_seen","found","last_seen"]}}},"intelligencex":{"type":"object","properties":{"identityportal":{"type":"array","items":{"type":"object","properties":{"accesslevel":{"type":"number"},"added":{"type":"string"},"bucket":{"type":"string"},"date":{"type":"string"},"description":{"type":"string"},"instore":{"type":"boolean"},"item":{"type":"object","properties":{"accesslevel":{"type":"number"},"added":{"type":"string"},"bucket":{"type":"string"},"date":{"type":"string"},"description":{"type":"string"},"instore":{"type":"boolean"},"keyvalues":{},"media":{"type":"number"},"name":{"type":"string"},"owner":{"type":"string"},"relations":{},"simhash":{"type":"number"},"size":{"type":"number"},"storageid":{"type":"string"},"systemid":{"type":"string"},"tags":{"type":"array","items":{"type":"object","properties":{"class":{"type":"number"},"value":{"type":"string"}},"required":["class","value"]}},"type":{"anyOf":[{"type":"number"},{"type":"string"}]},"xscore":{"type":"number"}}},"keyvalues":{},"line":{"type":"string"},"linea":{"type":"string"},"lineraw":{"type":"string"},"linesafterraw":{"anyOf":[{"type":"string"},{"type":"null"}]},"linesbeforeraw":{"anyOf":[{"type":"string"},{"type":"null"}]},"media":{"type":"number"},"name":{"type":"string"},"owner":{"type":"string"},"positionabsolute":{"type":"number"},"positionline":{"type":"number"},"positionsize":{"type":"number"},"relations":{},"simhash":{"type":"number"},"size":{"type":"number"},"storageid":{"type":"string"},"systemid":{"type":"string"},"tags":{"type":"array","items":{"type":"object","properties":{"class":{"type":"number"},"value":{"type":"string"}},"required":["class","value"]}},"type":{"anyOf":[{"type":"number"},{"type":"string"}]},"xscore":{"type":"number"}}}}}},"leakcheck":{"type":"object","properties":{"found":{"type":"number"},"result":{"type":"array","items":{"type":"object","properties":{"fields":{"type":"array","items":{"type":"string"}},"address":{"type":"string"},"country":{"type":"string"},"dob":{"type":"string"},"email":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"name":{"type":"string"},"password":{"type":"string"},"phone":{"type":"string"},"source":{"type":"object","properties":{"breach_date":{"anyOf":[{"type":"string"},{"type":"null"}]},"compilation":{"enum":[0,1]},"name":{"type":"string"},"passwordless":{"enum":[0,1]},"unverified":{"enum":[0,1]}}},"state":{"type":"string"},"zip":{"type":"string"}},"required":["fields"]}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["found","result","success"]},"snusbase":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string"},"birthdate":{"type":"string"},"city":{"type":"string"},"company":{"type":"string"},"country":{"type":"string"},"created":{"type":"string"},"date":{"type":"string"},"domain":{"type":"string"},"email":{"type":"string"},"followers":{"type":"string"},"gender":{"type":"string"},"hash":{"type":"string"},"host":{"type":"string"},"id":{"type":"string"},"job":{"type":"string"},"language":{"type":"string"},"lastip":{"type":"string"},"name":{"type":"string"},"other":{"type":"string"},"password":{"type":"string"},"phone":{"type":"string"},"regip":{"type":"string"},"salt":{"type":"string"},"state":{"type":"string"},"uid":{"type":"string"},"unparsed":{"type":"string"},"updated":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"},"zip":{"type":"string"}},"additionalProperties":{"anyOf":[{"type":"string"},{}]}}}},"snusbaseRateLimited":{"type":"boolean"}}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"402":{"description":"Payment Required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"services":{"type":"array","items":{"enum":["cloudsint","intelligencex.identityportal","leakcheck","snusbase"]}},"cloudsintType":{"enum":["email","ip","name","password","phone","steamid","url","username"]},"intelxType":{"enum":["domain","email","ip","phone","url"]},"leakCheckType":{"enum":["auto","domain","email","hash","keyword","origin","password","phash","phone","username"]},"snusbaseType":{"enum":["_domain","email","hash","lastip","name","password","phone","username","wildcard"]}},"required":["query","services"]}}}}}},"/v1/search/intelligence/facial":{"post":{"operationId":"searchFace","tags":["intelligence"],"summary":"Reverse Face Search","description":"Search for faces across the internet using facial recognition. Streams progress updates via Server-Sent Events.","responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"title":"FacialSearchEvent","description":"A Server-Sent Event. The `event:` field names the type (\"faces\" or \"results\"); errors are delivered as a data-only event.","oneOf":[{"type":"object","title":"FacesEvent","description":"Emitted as the `faces` event once detection completes.","required":["event","data"],"properties":{"data":{"type":"string","pattern":"^\\d+$","description":"Number of faces detected in the uploaded image, as a decimal string (5 credits charged per face). \"0\" means no face was detected."},"event":{"type":"string","const":"faces"}}},{"type":"object","title":"ResultsEvent","description":"Emitted as the `results` event with the completed matches.","required":["event","data"],"properties":{"data":{"type":"object","description":"Completed facial search result set.","required":["time","results","searchHash","numberOfResults"],"properties":{"time":{"type":"number","description":"Time the search took, in seconds."},"results":{"type":"array","description":"Matched faces found across the internet.","items":{"type":"object","required":["id","hash","group","quality","imageUrl","crawledAt","sourceUrl","thumbnailUrl"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"group":{"type":"number"},"quality":{"type":"number"},"imageUrl":{"type":"string","format":"uri"},"crawledAt":{"type":"number","description":"Unix epoch milliseconds the source was crawled."},"sourceUrl":{"type":"string","format":"uri"},"thumbnailUrl":{"type":"string","format":"uri"}}}},"searchHash":{"type":"string","description":"Hash identifying this search."},"numberOfResults":{"type":"number","description":"Total number of matched faces."}}},"event":{"type":"string","const":"results"}}},{"type":"object","title":"ErrorEvent","description":"A data-only event indicating the search failed.","required":["data"],"properties":{"data":{"type":"object","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}}}]},"itemSchema":{"title":"FacialSearchEvent","description":"A parsed Server-Sent Event. The `event:` field names the type (\"faces\" or \"results\"); errors are delivered as a data-only event.","oneOf":[{"type":"object","title":"FacesEvent","description":"Emitted as the `faces` event once detection completes.","required":["event","data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"string","pattern":"^\\d+$","description":"Number of faces detected in the uploaded image, as a decimal string (5 credits charged per face). \"0\" means no face was detected."}},"event":{"type":"string","const":"faces"}}},{"type":"object","title":"ResultsEvent","description":"Emitted as the `results` event with the completed matches.","required":["event","data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"object","description":"Completed facial search result set.","required":["time","results","searchHash","numberOfResults"],"properties":{"time":{"type":"number","description":"Time the search took, in seconds."},"results":{"type":"array","description":"Matched faces found across the internet.","items":{"type":"object","required":["id","hash","group","quality","imageUrl","crawledAt","sourceUrl","thumbnailUrl"],"properties":{"id":{"type":"string"},"hash":{"type":"string"},"group":{"type":"number"},"quality":{"type":"number"},"imageUrl":{"type":"string","format":"uri"},"crawledAt":{"type":"number","description":"Unix epoch milliseconds the source was crawled."},"sourceUrl":{"type":"string","format":"uri"},"thumbnailUrl":{"type":"string","format":"uri"}}}},"searchHash":{"type":"string","description":"Hash identifying this search."},"numberOfResults":{"type":"number","description":"Total number of matched faces."}}}},"event":{"type":"string","const":"results"}}},{"type":"object","title":"ErrorEvent","description":"A data-only event indicating the search failed.","required":["data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"object","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}}}}]},"examples":{"faces":{"summary":"Faces detected (event: faces)","value":{"event":"faces","data":"2"}},"results":{"summary":"Search completed (event: results)","value":{"event":"results","data":{"time":3.21,"results":[{"id":"abc123","hash":"d41d8cd98f00b204e9800998ecf8427e","group":0,"quality":0.92,"imageUrl":"https://example.com/match.jpg","crawledAt":1704153600000,"sourceUrl":"https://example.com/profile","thumbnailUrl":"https://example.com/match-thumb.jpg"}],"searchHash":"f1d2d2f924e986ac86fdf7b36c94bcdf","numberOfResults":1}}},"error":{"summary":"Error response","value":{"data":{"status":"error","success":false,"error":"Server error"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"media":{"type":"string","format":"binary","description":"The image file to be analyzed. Max size 10MB"}},"required":["media"]}}}}}},"/v1/search/intelligence/hudsonrock":{"post":{"operationId":"searchHudsonRock","tags":["intelligence"],"summary":"Hudson Rock Search","description":"Search for compromised data on Hudson Rock","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"anyOf":[{"type":"object","properties":{"applications":{"type":"array","items":{"type":"object","properties":{"keyword":{"type":"string"}},"required":["keyword"]}},"data":{"type":"object","properties":{"employees_urls":{"type":"array","items":{"type":"object","properties":{"occurrence":{"type":"number"},"type":{"type":"string"},"url":{"type":"string"}},"required":["occurrence","type","url"]}}},"required":["employees_urls"]},"employees":{"type":"number"},"is_shopify":{"type":"boolean"},"last_employee_compromised":{"type":"string"},"last_user_compromised":{"type":"string"},"logo":{"type":"string"},"stats":{"type":"object","properties":{"clients_count":{"type":"array","items":{"type":"number"}},"clients_urls":{"type":"array","items":{"type":"string"}},"employees_count":{"type":"array","items":{"type":"number"}},"employees_urls":{"type":"array","items":{"type":"string"}},"totalEmployees":{"type":"number"},"totalUsers":{"type":"number"}},"required":["clients_count","clients_urls","employees_count","employees_urls","totalEmployees","totalUsers"]},"thirdPartyDomains":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"occurrence":{"type":"number"}},"required":["domain","occurrence"]}},"third_parties":{"type":"number"},"total":{"type":"number"},"totalStealers":{"type":"number"},"totalUrls":{"type":"number"},"type":{"enum":["domain","email","ip","password","username"]},"users":{"type":"number"},"antiviruses":{"type":"object","properties":{"list":{"type":"array","items":{"type":"object","properties":{"count":{"type":"number"},"name":{"type":"string"}},"required":["count","name"]}},"found":{"type":"number"},"free":{"anyOf":[{"type":"number"},{"type":"string"}]},"not_found":{"type":"string"},"total":{"type":"number"}},"required":["list"]},"employeePasswords":{"type":"object","properties":{"has_stats":{"type":"boolean"},"medium":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"strong":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"too_weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"totalPass":{"type":"number"},"weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]}},"required":["has_stats","medium","strong","too_weak","totalPass","weak"]},"stealerFamilies":{"type":"object","properties":{"Acreed":{"type":"number"},"Atomic":{"type":"number"},"Azorult":{"type":"number"},"CRYPTBOT":{"type":"number"},"DarkCrystal":{"type":"number"},"Ficker":{"type":"number"},"Generic Stealer":{"type":"number"},"Lumma":{"type":"number"},"Mystic":{"type":"number"},"Predator":{"type":"number"},"Raccoon":{"type":"number"},"RedLine":{"type":"number"},"StealC":{"type":"number"},"Taurus":{"type":"number"},"UNKNOWN":{"type":"number"},"Vidar":{"type":"number"},"last_counted":{"type":"string"},"total":{"type":"number"}},"required":["Acreed","Atomic","Azorult","CRYPTBOT","DarkCrystal","Ficker","Generic Stealer","Lumma","Mystic","Predator","Raccoon","RedLine","StealC","Taurus","UNKNOWN","Vidar","last_counted","total"]},"userPasswords":{"type":"object","properties":{"has_stats":{"type":"boolean"},"medium":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"strong":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"too_weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]},"totalPass":{"type":"number"},"weak":{"type":"object","properties":{"perc":{"type":"number"},"qty":{"type":"number"}},"required":["perc","qty"]}},"required":["has_stats","medium","strong","too_weak","totalPass","weak"]}},"required":["applications","data","employees","is_shopify","last_employee_compromised","last_user_compromised","logo","stats","thirdPartyDomains","third_parties","total","totalStealers","totalUrls","type","users"]},{"type":"object","properties":{"type":{"enum":["domain","email","ip","password","username"]},"message":{"type":"string"},"stealers":{"type":"array","items":{"type":"object","properties":{"computer_name":{"type":"string"},"date_compromised":{"type":"string"},"ip":{"type":"string"},"malware_path":{"type":"string"},"operating_system":{"type":"string"},"top_logins":{"type":"array","items":{"type":"string"}},"top_passwords":{"type":"array","items":{"type":"string"}},"total_corporate_services":{"type":"number"},"total_user_services":{"type":"number"},"stealer_family":{"type":"string"}},"required":["computer_name","date_compromised","ip","malware_path","operating_system","top_logins","top_passwords","total_corporate_services","total_user_services"]}}},"required":["type"]}]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["domain","email","ip","password","username"]}},"required":["query","type"]}}}}}},"/v1/search/socials/discord":{"post":{"operationId":"searchDiscord","tags":["socials"],"summary":"Discord Search","description":"Search Discord users for profile and server info","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"bio":{"anyOf":[{"type":"string"},{"type":"null"}]},"clan":{"anyOf":[{"type":"object","properties":{"badge":{"anyOf":[{"type":"string"},{"type":"null"}]},"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"boosts":{"anyOf":[{"type":"number"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"features":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"type":"string"},"invite":{"anyOf":[{"type":"string"},{"type":"null"}]},"memberCount":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"onlineCount":{"anyOf":[{"type":"number"},{"type":"null"}]},"tag":{"anyOf":[{"type":"string"},{"type":"null"}]},"traits":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"label":{"type":"string"},"name":{"type":"string"},"position":{"type":"number"},"url":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["label","name","position","url"]}},{"type":"null"}]}},"required":["badge","banner","boosts","description","features","icon","id","invite","memberCount","name","onlineCount","tag","traits"]},{"type":"null"}]},"connectedAccounts":{"type":"object","additionalProperties":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"link":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"}},"required":["id","link","name"]},{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"link":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"type":"string"}},"required":["id","link","name"]}}]}},"displayName":{"anyOf":[{"type":"string"},{"type":"null"}]},"internalErrors":{"type":"array","items":{"type":"string"}},"legacyName":{"anyOf":[{"type":"string"},{"type":"null"}]},"modActions":{"type":"array","items":{"type":"object","properties":{"date":{"type":"number"},"description":{"type":"string"},"details":{"type":"object","properties":{"ground":{"type":"string"},"source":{"type":"string"},"targetType":{"type":"string"}},"required":["ground","source","targetType"]},"id":{"type":"string"},"status":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"timeline":{"type":"object","properties":{"application":{"type":"number"},"content":{"type":"number"},"created":{"type":"number"}},"required":["application","content","created"]},"title":{"type":"string"}},"required":["date","description","details","id","status","tags","timeline","title"]}},"pfp":{"type":"string"},"presence":{"anyOf":[{"type":"string"},{"type":"null"}]},"pronouns":{"anyOf":[{"type":"string"},{"type":"null"}]},"reviewCount":{"type":"number"},"reviews":{"type":"array","items":{"type":"object","properties":{"comment":{"type":"string"},"id":{"type":"number"},"sender":{"type":"object","properties":{"badges":{"type":"array","items":{"type":"object","properties":{"description":{"type":"string"},"icon":{"type":"string"},"name":{"type":"string"},"redirectURL":{"type":"string"},"type":{"type":"number"}},"required":["description","icon","name","redirectURL","type"]}},"discordID":{"type":"string"},"id":{"type":"number"},"profilePhoto":{"type":"string"},"username":{"type":"string"},"clientMod":{"type":"boolean"}},"required":["badges","discordID","id","profilePhoto","username"]},"timestamp":{"type":"number"},"type":{"type":"number"},"star":{"type":"number"}},"required":["comment","id","sender","timestamp","type"]}},"robloxProfiles":{"type":"array","items":{"type":"object","properties":{"avatarUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"badges":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"description":{"type":"string"},"displayName":{"type":"string"},"hasPremium":{"type":"boolean"},"id":{"type":"number"},"isAdmin":{"type":"boolean"},"isBanned":{"type":"boolean"},"isStarCreator":{"type":"boolean"},"isVerified":{"type":"boolean"},"pastUsernames":{"type":"array","items":{"type":"string"}},"platforms":{"type":"object","properties":{"playstation":{"type":"string"},"xbox":{"type":"string"}}},"presence":{"type":"object","properties":{"iconUrl":{"type":"string"},"lastOnline":{"type":"string"},"text":{"type":"string"},"type":{"type":"number"}},"required":["iconUrl","lastOnline","text","type"]},"socials":{"type":"object","additionalProperties":{"type":"string"}},"stats":{"type":"object","properties":{"followers":{"type":"number"},"following":{"type":"number"},"friends":{"type":"number"},"placeVisits":{"type":"number"}},"required":["followers","following","friends","placeVisits"]},"username":{"type":"string"},"error":{"type":"string"},"rolimons":{"type":"object","properties":{"rap":{"type":"number"},"value":{"type":"number"},"rank":{"type":"number"}},"required":["rap","value"]}},"required":["avatarUrl","badges","created","description","displayName","hasPremium","id","isAdmin","isBanned","isStarCreator","isVerified","pastUsernames","platforms","presence","socials","stats","username"]}},"servers":{"type":"array","items":{"type":"object","properties":{"banner":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"icon":{"anyOf":[{"type":"string"},{"type":"null"}]},"id":{"type":"string"},"invite":{"anyOf":[{"type":"string"},{"type":"null"}]},"membersOnline":{"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"nickname":{"anyOf":[{"type":"string"},{"type":"null"}]},"totalMembers":{"anyOf":[{"type":"number"},{"type":"null"}]},"roles":{"type":"array","items":{"type":"object","properties":{"color":{"type":"number"},"hoist":{"type":"boolean"},"id":{"type":"string"},"managed":{"type":"boolean"},"name":{"type":"string"},"permissions":{"type":"string"},"position":{"type":"number"}},"required":["color","hoist","id","managed","name","permissions","position"]}}},"required":["banner","description","icon","id","invite","membersOnline","name","nickname","totalMembers"]}},"userId":{"type":"string"},"username":{"type":"string"}},"required":["banner","bio","clan","connectedAccounts","displayName","internalErrors","legacyName","modActions","pfp","presence","pronouns","reviewCount","reviews","robloxProfiles","servers","userId","username"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/socials/github":{"post":{"operationId":"searchGithub","tags":["socials"],"summary":"GitHub Search","description":"Search GitHub profiles, info, and commit emails. Streams progress updates via Server-Sent Events.","responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"title":"GithubSearchEvent","description":"A Server-Sent Event. The `event:` field names the type (\"status\", \"heartbeat\", or \"result\"); errors are delivered as a data-only event.","oneOf":[{"type":"object","title":"StatusEvent","description":"Progress update emitted as the `status` event.","required":["event","data"],"properties":{"data":{"type":"string","description":"Human-readable progress message (e.g. \"Fetching commit history\")."},"event":{"type":"string","const":"status"}}},{"type":"object","title":"HeartbeatEvent","description":"Keep-alive emitted roughly every 15s as the `heartbeat` event.","required":["event","data"],"properties":{"data":{"type":"string","description":"Keep-alive heartbeat. Always an empty string."},"event":{"type":"string","const":"heartbeat"}}},{"type":"object","title":"ResultEvent","description":"Terminal `result` event with the completed GitHub profile.","required":["event","data"],"properties":{"data":{"type":"object","properties":{"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"bio":{"anyOf":[{"type":"string"},{"type":"null"}]},"commitEmails":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"commitRepoCount":{"type":"number"},"commits":{"type":"number"},"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"followers":{"type":"number"},"following":{"type":"number"},"id":{"type":"number"},"lastSeen":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"public_gists":{"type":"number"},"public_repos":{"type":"number"},"username":{"type":"string"},"activityId":{"type":["string","null"],"description":"Activity log id for this search, or null."}},"required":["avatar_url","bio","commitEmails","commitRepoCount","commits","company","createdAt","followers","following","id","lastSeen","location","name","public_gists","public_repos","username"],"title":"GithubInfo","description":"Completed GitHub profile, commit stats, and discovered emails."},"event":{"type":"string","const":"result"}}},{"type":"object","title":"ErrorEvent","description":"A data-only event indicating the search failed.","required":["data"],"properties":{"data":{"type":"object","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}}}]},"itemSchema":{"title":"GithubSearchEvent","description":"A parsed Server-Sent Event. The `event:` field names the type (\"status\", \"heartbeat\", or \"result\"); errors are delivered as a data-only event.","oneOf":[{"type":"object","title":"StatusEvent","description":"Progress update emitted as the `status` event.","required":["event","data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"string","description":"Human-readable progress message (e.g. \"Fetching commit history\")."}},"event":{"type":"string","const":"status"}}},{"type":"object","title":"HeartbeatEvent","description":"Keep-alive emitted roughly every 15s as the `heartbeat` event.","required":["event","data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"string","description":"Keep-alive heartbeat. Always an empty string."}},"event":{"type":"string","const":"heartbeat"}}},{"type":"object","title":"ResultEvent","description":"Terminal `result` event with the completed GitHub profile.","required":["event","data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"object","properties":{"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"bio":{"anyOf":[{"type":"string"},{"type":"null"}]},"commitEmails":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}},"commitRepoCount":{"type":"number"},"commits":{"type":"number"},"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"anyOf":[{"type":"string"},{"type":"null"}]},"followers":{"type":"number"},"following":{"type":"number"},"id":{"type":"number"},"lastSeen":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"public_gists":{"type":"number"},"public_repos":{"type":"number"},"username":{"type":"string"},"activityId":{"type":["string","null"],"description":"Activity log id for this search, or null."}},"required":["avatar_url","bio","commitEmails","commitRepoCount","commits","company","createdAt","followers","following","id","lastSeen","location","name","public_gists","public_repos","username"],"title":"GithubInfo","description":"Completed GitHub profile, commit stats, and discovered emails."}},"event":{"type":"string","const":"result"}}},{"type":"object","title":"ErrorEvent","description":"A data-only event indicating the search failed.","required":["data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"type":"object","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}}}}]},"examples":{"status":{"summary":"Progress update (event: status)","value":{"event":"status","data":"Fetching commit history"}},"heartbeat":{"summary":"Keep-alive (event: heartbeat)","value":{"event":"heartbeat","data":""}},"result":{"summary":"Search completed (event: result)","value":{"event":"result","data":{"username":"octocat","id":583231,"name":"The Octocat","bio":null,"avatar_url":"https://avatars.githubusercontent.com/u/583231","location":"San Francisco","company":"@github","public_repos":8,"public_gists":8,"followers":18000,"following":9,"commits":42,"commitRepoCount":3,"commitEmails":{"octocat@github.com":["The Octocat"]},"lastSeen":"2024-01-02T03:04:05Z","createdAt":"2011-01-25T18:44:36Z","activityId":"act_abc123"}}},"error":{"summary":"Error response","value":{"data":{"status":"error","success":false,"error":"Server error"}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"402":{"description":"Payment Required - Insufficient Credits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/socials/roblox":{"post":{"operationId":"searchRoblox","tags":["socials"],"summary":"Roblox Search","description":"Lookup Roblox users, game statistics, and profile information","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"type":{"type":"string"},"altAccountThumbnails":{"type":"object","additionalProperties":{"type":"string"}},"altAccounts":{"type":"object","properties":{"detectedAt":{"type":"number"},"robloxUserId":{"type":"number"},"robloxUsername":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"updatedAt":{"type":"number"}},"required":["detectedAt","robloxUserId","robloxUsername","sources","updatedAt"]},"leaks":{},"profile":{"type":"object","properties":{"avatarUrl":{"anyOf":[{"type":"string"},{"type":"null"}]},"badges":{"type":"array","items":{"type":"string"}},"created":{"type":"string"},"description":{"type":"string"},"displayName":{"type":"string"},"hasPremium":{"type":"boolean"},"id":{"type":"number"},"isAdmin":{"type":"boolean"},"isBanned":{"type":"boolean"},"isStarCreator":{"type":"boolean"},"isVerified":{"type":"boolean"},"pastUsernames":{"type":"array","items":{"type":"string"}},"platforms":{"type":"object","properties":{"playstation":{"type":"string"},"xbox":{"type":"string"}}},"presence":{"type":"object","properties":{"iconUrl":{"type":"string"},"lastOnline":{"type":"string"},"text":{"type":"string"},"type":{"type":"number"}},"required":["iconUrl","lastOnline","text","type"]},"socials":{"type":"object","additionalProperties":{"type":"string"}},"stats":{"type":"object","properties":{"followers":{"type":"number"},"following":{"type":"number"},"friends":{"type":"number"},"placeVisits":{"type":"number"}},"required":["followers","following","friends","placeVisits"]},"username":{"type":"string"},"error":{"type":"string"},"rolimons":{"type":"object","properties":{"rap":{"type":"number"},"value":{"type":"number"},"rank":{"type":"number"}},"required":["rap","value"]}},"required":["avatarUrl","badges","created","description","displayName","hasPremium","id","isAdmin","isBanned","isStarCreator","isVerified","pastUsernames","platforms","presence","socials","stats","username"]},"stealers":{"type":"array","items":{"anyOf":[{"type":"number"},{"type":"object"},{"type":"string"},{"type":"boolean"},{"type":"null"}]}},"verified":{"anyOf":[{"type":"boolean"},{"type":"null"}]}},"required":["type"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"type":{"enum":["email","ip","uname"],"default":"uname"}},"required":["query"]}}}}}},"/v1/search/socials/tiktok":{"post":{"operationId":"searchTiktok","tags":["socials"],"summary":"TikTok Search","description":"Aggregate intelligence and data of a TikTok account","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"bio":{"type":"string"},"commerce":{"type":"boolean"},"created":{"type":"number"},"display":{"type":"string"},"error":{"type":"string"},"followers":{"type":"string"},"following":{"type":"string"},"friends":{"type":"string"},"id":{"type":"string"},"language":{"type":"string"},"likes":{"type":"string"},"picture":{"type":"string"},"private":{"type":"boolean"},"region":{"type":"string"},"ttseller":{"type":"boolean"},"username":{"type":"string"},"verified":{"type":"boolean"},"videos":{"type":"string"}}},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/ipinfo":{"post":{"operationId":"searchIpInfo","tags":["infrastructure"],"summary":"IP Info","description":"Analyze details of an IP Address.","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"calling_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"company":{"type":"object","properties":{"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"network":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["domain","name","network","type"]},"continent_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"continent_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"country_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"country_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"currency":{"type":"object","properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"native":{"anyOf":[{"type":"string"},{"type":"null"}]},"plural":{"anyOf":[{"type":"string"},{"type":"null"}]},"symbol":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["code","name","native","plural","symbol"]},"emoji_flag":{"anyOf":[{"type":"string"},{"type":"null"}]},"emoji_unicode":{"anyOf":[{"type":"string"},{"type":"null"}]},"ip":{"type":"string"},"is_eu":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"languages":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"native":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["code","name","native"]}},{"type":"null"}]},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}]},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}]},"postal":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"region_code":{"anyOf":[{"type":"string"},{"type":"null"}]},"region_type":{"anyOf":[{"type":"string"},{"type":"null"}]},"threat":{"type":"object","properties":{"is_anonymous":{"type":"boolean"},"is_bogon":{"type":"boolean"},"is_datacenter":{"type":"boolean"},"is_icloud_relay":{"type":"boolean"},"is_known_abuser":{"type":"boolean"},"is_known_attacker":{"type":"boolean"},"is_proxy":{"type":"boolean"},"is_threat":{"type":"boolean"},"is_tor":{"type":"boolean"},"is_vpn":{"type":"boolean"},"scores":{"type":"object","properties":{"proxy_score":{"type":"number"},"threat_score":{"type":"number"},"trust_score":{"type":"number"},"vpn_score":{"type":"number"}},"required":["proxy_score","threat_score","trust_score","vpn_score"]},"blocklists":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"site":{"type":"string"},"type":{"type":"string"}},"required":["name","site","type"]}}},"required":["is_anonymous","is_bogon","is_datacenter","is_icloud_relay","is_known_abuser","is_known_attacker","is_proxy","is_threat","is_tor","is_vpn","scores"]},"time_zone":{"type":"object","properties":{"abbr":{"anyOf":[{"type":"string"},{"type":"null"}]},"current_time":{"anyOf":[{"type":"string"},{},{"type":"null"}]},"is_dst":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"offset":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["abbr","current_time","is_dst","name","offset"]},"asn":{"type":"object","properties":{"asn":{"anyOf":[{"type":"string"},{"type":"null"}]},"domain":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"route":{"anyOf":[{"type":"string"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["asn","domain","name","route","type"]},"carrier":{"type":"object","properties":{"mcc":{"anyOf":[{"type":"string"},{"type":"null"}]},"mnc":{"anyOf":[{"type":"string"},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["mcc","mnc","name"]},"message":{"type":"string"}},"required":["calling_code","city","company","continent_code","continent_name","country_code","country_name","currency","emoji_flag","emoji_unicode","ip","is_eu","languages","latitude","longitude","postal","region","region_code","region_type","threat","time_zone"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/dns":{"post":{"operationId":"searchDns","tags":["infrastructure"],"summary":"DNS Reconnaissance","description":"Perform deep DNS analysis and find hidden subdomains","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"host":{"type":"string"},"total_a_recs":{"type":"number"},"a":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}]}}]}},"required":["asn","asn_name","asn_range","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"cname":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}]}}]}},"required":["asn","asn_name","asn_range","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"error":{"type":"string"},"mx":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}]}}]}},"required":["asn","asn_name","asn_range","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"ns":{"type":"array","items":{"type":"object","properties":{"host":{"type":"string"},"ips":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"asn_name":{"type":"string"},"asn_range":{"type":"string"},"country":{"type":"string"},"country_code":{"type":"string"},"ip":{"type":"string"},"ptr":{"type":"string"},"banners":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"object","properties":{"alt_n":{"type":"array","items":{"type":"string"}},"apps":{"type":"array","items":{"type":"string"}},"cn":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]},"redirect_location":{"type":"string"},"server":{"type":"string"},"title":{"type":"string"}}}]}}]}},"required":["asn","asn_name","asn_range","country","country_code","ip","ptr"]}}},"required":["host","ips"]}},"txt":{"type":"array","items":{"type":"string"}}},"required":["host","total_a_recs"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/shodan":{"post":{"operationId":"searchShodan","tags":["infrastructure"],"summary":"Shodan Search","description":"IP service and software intelligence","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"matches":{"type":"array","items":{"type":"object","properties":{"asn":{"type":"string"},"cpe":{"type":"array","items":{"type":"string"}},"data":{"type":"string"},"domains":{"type":"array","items":{"type":"string"}},"hostnames":{"type":"array","items":{"type":"string"}},"http":{"type":"object","properties":{"components":{"type":"object","additionalProperties":{"type":"object","properties":{"categories":{"type":"array","items":{"type":"string"}},"confidence":{"type":"number"},"versions":{"type":"array","items":{"type":"string"}}}}},"favicon":{"type":"object","properties":{"data":{"type":"string"},"location":{"type":"string"}}},"host":{"anyOf":[{"type":"string"},{"type":"null"}]},"html":{"anyOf":[{"type":"string"},{"type":"null"}]},"location":{"type":"string"},"redirects":{"type":"array","items":{"type":"object","properties":{"data":{"type":"string"},"host":{"type":"string"},"location":{"type":"string"}}}},"robots":{"anyOf":[{"type":"string"},{"type":"null"}]},"server":{"anyOf":[{"type":"string"},{"type":"null"}]},"title":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"ip_str":{"type":"string"},"isp":{"type":"string"},"location":{"type":"object","properties":{"city":{"type":"string"},"country_code":{"type":"string"},"country_name":{"type":"string"},"dma_code":{"type":"number"},"latitude":{"type":"number"},"longitude":{"type":"number"},"region_code":{"type":"string"}}},"org":{"type":"string"},"os":{"anyOf":[{"type":"string"},{"type":"null"}]},"port":{"type":"number"},"product":{"type":"string"},"ssh":{"type":"object","properties":{"cipher":{"type":"string"},"fingerprint":{"type":"string"},"hassh":{"type":"string"},"kex":{"type":"object","properties":{"compression_algorithms":{"type":"array","items":{"type":"string"}},"encryption_algorithms":{"type":"array","items":{"type":"string"}},"kex_algorithms":{"type":"array","items":{"type":"string"}},"key_follows":{"type":"boolean"},"languages":{"type":"array","items":{"type":"string"}},"mac_algorithms":{"type":"array","items":{"type":"string"}},"server_host_key_algorithms":{"type":"array","items":{"type":"string"}},"unused":{"type":"number"}}},"key":{"type":"string"},"mac":{"type":"string"},"type":{"type":"string"}}},"ssl":{"type":"object","properties":{"acceptable_cas":{"type":"array","items":{"type":"string"}},"alpn":{"type":"array","items":{"type":"string"}},"cert":{"type":"object","properties":{"expired":{"type":"boolean"},"expires":{"type":"string"},"extensions":{"type":"array","items":{"type":"object","properties":{"critical":{"type":"boolean"},"data":{"type":"string"},"name":{"type":"string"}}}},"fingerprint":{"type":"object","additionalProperties":{"type":"string"}},"issued":{"type":"string"},"issuer":{"type":"object","properties":{"C":{"type":"string"},"CN":{"type":"string"},"O":{"type":"string"}}},"pubkey":{"type":"object","properties":{"bits":{"type":"number"},"type":{"type":"string"}}},"serial":{"type":"number"},"sig_alg":{"type":"string"},"subject":{"type":"object","properties":{"CN":{"type":"string"}}},"version":{"type":"number"}}},"chain":{"type":"array","items":{"type":"string"}},"chain_sha256":{"type":"array","items":{"type":"string"}},"cipher":{"type":"object","properties":{"bits":{"type":"number"},"name":{"type":"string"},"version":{"type":"string"}}},"handshake_states":{"type":"array","items":{"type":"string"}},"ja3s":{"type":"string"},"jarm":{"type":"string"},"tlstext":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"name":{"type":"string"}}}},"trust":{"type":"object","properties":{"revoked":{"type":"boolean"}}},"versions":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}}},"timestamp":{"type":"string"},"transport":{"type":"string"}}}},"total":{"type":"number"}},"required":["matches","total"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"}},"required":["query"]}}}}}},"/v1/search/infrastructure/whois":{"post":{"operationId":"searchWhois","tags":["infrastructure"],"summary":"Whois","description":"Return information on a domain and its registration","responses":{"200":{"description":"Search successful","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"dates":{"type":"object","properties":{"created":{"type":"string"},"expires":{"type":"string"}}},"dnssec":{"type":"object","additionalProperties":{}},"domain":{"type":"string"},"nameservers":{"type":"array","items":{"type":"object","additionalProperties":{}}},"raw":{"type":"object"},"registrar":{"type":"object","properties":{"abuseEmail":{"type":"string"},"abusePhone":{"type":"string"},"ianaId":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"}},"required":["abuseEmail","abusePhone","ianaId","name","url"]},"status":{"type":"array","items":{"type":"string"}}},"required":["dates","dnssec","domain","nameservers","raw","registrar","status"]},"success":{"type":"boolean"},"error":{"type":"string"}},"required":["data","success"]}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedResponse"}}}}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","pattern":"^[a-z0-9]+([.-][a-z0-9]+)*\\.[a-z]{2,63}$"}},"required":["query"]}}}}}},"/v1/search/infrastructure/portscan":{"post":{"operationId":"scanPorts","tags":["infrastructure"],"summary":"Port Scan","description":"Perform a port scan on a given IP address or domain.","responses":{"200":{"description":"Streaming response with progress updates. Each SSE message contains a JSON object with status updates.","content":{"text/event-stream":{"schema":{"type":"object","title":"PortscanEvent","description":"A Server-Sent Event whose `data` field carries the event payload.","required":["data"],"properties":{"data":{"title":"PortscanEventData","description":"JSON `data` payload of a port-scan Server-Sent Event. Discriminated by `status`.","oneOf":[{"type":"object","title":"ScanningEvent","description":"Emitted immediately once the scan has started.","required":["status"],"properties":{"status":{"type":"string","const":"scanning"}}},{"type":"object","title":"ProgressEvent","description":"Progress update emitted periodically during the scan.","required":["status","task","percent"],"properties":{"status":{"type":"string","const":"progress"},"task":{"type":"string","description":"Name of the running nmap task."},"percent":{"type":"number","description":"Completion percentage of the current task."}}},{"type":"object","title":"CompleteEvent","description":"Terminal event containing the parsed scan result.","required":["status","data"],"properties":{"status":{"type":"string","const":"complete"},"data":{"type":"object","description":"Parsed nmap scan result.","required":["$","scaninfo","verbose","debugging","runstats"],"properties":{"$":{"type":"object","required":["scanner","args","start","startstr","version","xmloutputversion"],"properties":{"scanner":{"type":"string"},"args":{"type":"string"},"start":{"type":"string"},"startstr":{"type":"string"},"version":{"type":"string"},"xmloutputversion":{"type":"string"}}},"scaninfo":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["type","protocol","numservices","services"],"properties":{"type":{"type":"string"},"protocol":{"type":"string"},"numservices":{"type":"string"},"services":{"type":"string"}}}}}},"verbose":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["level"],"properties":{"level":{"type":"string"}}}}}},"debugging":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["level"],"properties":{"level":{"type":"string"}}}}}},"taskprogress":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["task","time","percent","remaining","etc"],"properties":{"task":{"type":"string"},"time":{"type":"string"},"percent":{"type":"string"},"remaining":{"type":"string"},"etc":{"type":"string"}}}}}},"host":{"type":"array","items":{"type":"object","required":["$","status","address"],"properties":{"$":{"type":"object","required":["starttime","endtime"],"properties":{"starttime":{"type":"string"},"endtime":{"type":"string"}}},"status":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["state","reason","reason_ttl"],"properties":{"state":{"type":"string"},"reason":{"type":"string"},"reason_ttl":{"type":"string"}}}}}},"address":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["addr","addrtype"],"properties":{"addr":{"type":"string"},"addrtype":{"type":"string"}}}}}},"hostnames":{"type":"array","items":{"type":"object","required":["hostname"],"properties":{"hostname":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["name","type"],"properties":{"name":{"type":"string"},"type":{"type":"string"}}}}}}}}},"ports":{"type":"array","items":{"type":"object","properties":{"extraports":{"type":"array","items":{"type":"object","required":["$","extrareasons"],"properties":{"$":{"type":"object","required":["state","count"],"properties":{"state":{"type":"string"},"count":{"type":"string"}}},"extrareasons":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["reason","count","proto","ports"],"properties":{"reason":{"type":"string"},"count":{"type":"string"},"proto":{"type":"string"},"ports":{"type":"string"}}}}}}}}},"port":{"type":"array","items":{"type":"object","required":["$","state"],"properties":{"$":{"type":"object","required":["protocol","portid"],"properties":{"protocol":{"type":"string"},"portid":{"type":"string"}}},"state":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["state","reason","reason_ttl"],"properties":{"state":{"type":"string"},"reason":{"type":"string"},"reason_ttl":{"type":"string"}}}}}},"service":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["name","method","conf"],"properties":{"name":{"type":"string"},"product":{"type":"string"},"version":{"type":"string"},"extrainfo":{"type":"string"},"ostype":{"type":"string"},"method":{"type":"string"},"conf":{"type":"string"}}},"cpe":{"type":"array","items":{"type":"string"}}}}}}}}}}},"times":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["srtt","rttvar","to"],"properties":{"srtt":{"type":"string"},"rttvar":{"type":"string"},"to":{"type":"string"}}}}}}}}},"runstats":{"type":"array","items":{"type":"object","required":["finished","hosts"],"properties":{"finished":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["time","timestr","summary","elapsed","exit"],"properties":{"time":{"type":"string"},"timestr":{"type":"string"},"summary":{"type":"string"},"elapsed":{"type":"string"},"exit":{"type":"string"}}}}}},"hosts":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["up","down","total"],"properties":{"up":{"type":"string"},"down":{"type":"string"},"total":{"type":"string"}}}}}}}}}}}}},{"type":"object","title":"ErrorEvent","description":"Terminal event indicating the scan failed.","required":["status","success","error"],"properties":{"status":{"type":"string","const":"error"},"success":{"type":"boolean","const":false},"error":{"type":"string","description":"Human-readable error message."}}}],"discriminator":{"propertyName":"status"}}}},"itemSchema":{"type":"object","title":"PortscanEvent","description":"A parsed Server-Sent Event; its string `data` field carries a JSON payload.","required":["data"],"properties":{"data":{"type":"string","contentMediaType":"application/json","contentSchema":{"title":"PortscanEventData","description":"JSON `data` payload of a port-scan Server-Sent Event. Discriminated by `status`.","oneOf":[{"type":"object","title":"ScanningEvent","description":"Emitted immediately once the scan has started.","required":["status"],"properties":{"status":{"type":"string","const":"scanning"}}},{"type":"object","title":"ProgressEvent","description":"Progress update emitted periodically during the scan.","required":["status","task","percent"],"properties":{"status":{"type":"string","const":"progress"},"task":{"type":"string","description":"Name of the running nmap task."},"percent":{"type":"number","description":"Completion percentage of the current task."}}},{"type":"object","title":"CompleteEvent","description":"Terminal event containing the parsed scan result.","required":["status","data"],"properties":{"status":{"type":"string","const":"complete"},"data":{"type":"object","description":"Parsed nmap scan result.","required":["$","scaninfo","verbose","debugging","runstats"],"properties":{"$":{"type":"object","required":["scanner","args","start","startstr","version","xmloutputversion"],"properties":{"scanner":{"type":"string"},"args":{"type":"string"},"start":{"type":"string"},"startstr":{"type":"string"},"version":{"type":"string"},"xmloutputversion":{"type":"string"}}},"scaninfo":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["type","protocol","numservices","services"],"properties":{"type":{"type":"string"},"protocol":{"type":"string"},"numservices":{"type":"string"},"services":{"type":"string"}}}}}},"verbose":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["level"],"properties":{"level":{"type":"string"}}}}}},"debugging":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["level"],"properties":{"level":{"type":"string"}}}}}},"taskprogress":{"type":"array","items":{"type":"object","required":["$"],"properties":{"$":{"type":"object","required":["task","time","percent
[...]
